%h1 Listing quotes

%table
  %tr
    %th Name
    %th Email
    %th Contact
    %th Message
    %th
    %th
    %th

  - @quotes.each do |quote|
    %tr
      %td= quote.name
      %td= quote.email
      %td= quote.contact
      %td= quote.message
      %td= link_to 'Show', quote
      %td= link_to 'Edit', edit_quote_path(quote)
      %td= link_to 'Destroy', quote, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Quote', new_quote_path
