%p#notice= notice

%p
  %b Name:
  = @quote.name
%p
  %b Email:
  = @quote.email
%p
  %b Contact:
  = @quote.contact
%p
  %b Message:
  = @quote.message

= link_to 'Edit', edit_quote_path(@quote)
\|
= link_to 'Back', quotes_path
