.innerBenner
  .wrapper
    .news_feeds
      %a.text{href: "#"}
        %h2
          Login
          %span Page
        %p Join our thriving community today!
.inneContainer
  .wrapper
    .login_container
      .login_form
        = form_for(:session, url: sessions_path) do |f|
          .form-item.user_name
            = f.label :email
            = f.text_field :email, placeholder: "Username"  
          .form-item.password
            = f.label :password
            = f.password_field :password, placeholder: "Password"
          /.left.other_options
          /  .form-item
          /    %input{type: "checkbox", value: ""}/
          /    Keep me signed in
          .left.other_options
            %a{href: "/"} Forgot Password?
            %br/
            %a{href: "/register"} Create New Account
          .form-submit.right
            = f.submit "Submit"
        
