- user_ids = Array.new
- @chat_requests.each do |chat|
  - unless user_ids.include?(chat.user_id)
    - user_ids << chat.user_id
    - other_user = (chat.user == current_user) ? chat.recipient : chat.user
    %li
      #activity_user_img
        - if chat.user.headshot
          = image_tag chat.user.headshot.file_attachment.url(:medium)
        - else
          - if chat.user.kind == 'user'
            = image_tag '/assets/missing.png', width: "50px", height: "50px"
          - else
            = image_tag '/assets/company_logo.png', width: "50px", height: "50px" 
      #activity_user_detail
        = "#{other_user.name}"
        %p#user_chat_msg
          /= "#{truncate(chat.body, length: 17)}"
          = raw chat.body
        #activity_connect_form
          = link_to "Send Message", "#", class: "btn  btn-xs btn-primary",
"data-sid" => current_user.id, "data-rip" => other_user.id, "onclick"=>"javascript:open_conversation(event)"
%li#user_no_msg
  - unless @chat_requests.any?
    No new messages   
