- if @responses.empty?
  %li
    No new updates
- else
  - @responses.each do |response|
    - actor = User.find(response.actor_id)
    - case response.act
    - when 'like'
      - action_text = 'likes'
    - when 'comment'
      - action_text = 'commented on'
    - when 'share'
      - action_text = 'shared'

    - obj = response.acted_upon_type.constantize.find_by_id(response.acted_upon_id)
    - unless obj.nil?
      = link_to obj do
        %li{:class => ("gray" unless response.status == 0)}
          #activity_user_img
            - if actor.headshot
              = image_tag actor.headshot.file_attachment.url(:medium)
            - else
              - if actor.kind == 'user'
                = image_tag '/assets/missing.png', width: "50px", height: "50px"
              - else
                = image_tag '/assets/company_logo.png', width: "50px", height: "50px" 
          #activity_user_detail
            = "#{actor.name} #{action_text} your #{response.acted_upon_type}"
