%div.comment{ :id => "comment-#{comment.id}" }
  %hr
    -if (current_user == comment.user) && signed_in?
      = link_to "×", comment_path(comment), :method => :delete, :remote => true,  :disable_with => "×", :class => 'comment-delete' , :id => "comment-delete-#{comment.id}"
    %span.comment-user-pic  
      - if comment.user.headshot
        = image_tag comment.user.headshot.file_attachment.url(:thumb)
      -else
        =image_tag '/assets/missing.png'   
    %span.comment-user-name
      %a{href: "/users/"+"#{comment.user.slug}"}
        = comment.user.username
      %span#feed_text
        = raw simple_format comment.body
      %p
        %small 
          = comment.updated_at
      #comment-like
        = render 'shared/like_form', object: comment, user: comment.user
    -if signed_in? 
      .reply-button 
        %input{type: "button", value: "Reply", class: "comment-reply" ,id: "reply-#{comment.id}"}/
      %div.child_comments{ :id => "child-comments-#{comment.id}" }
        - comment.children.each do|child| 
          = render :partial => 'comments/child_comment', :locals => { child: child}
    = render :partial => 'comments/child_form', :locals => { comment: @new_comment, parent_id: comment.id}          
