%div{ :id => "comment-#{comment.id}", class: "comment-#{comment.id} comment" }
  %hr
    -if (current_user == comment.user) && signed_in?
      = link_to '×', comment, :method => :delete, :remote => true, :data => { :confirm => 'Are you sure?' }
    = link_to comment.user do
      %span.comment-user-pic  
        - if comment.user.headshot
          = image_tag comment.user.headshot.file_attachment.url(:thumb)
        - else
          =image_tag '/assets/missing.png'   
    %span.comment-user-name
      %a{href: "/users/"+"#{comment.user.slug}"}
        = comment.user.name
      %span#feed_text
        = raw simple_format comment.body
      %p
        %comment_post_time 
          #{time_ago_in_words(comment.updated_at)} ago.
      #comment-like
        = render 'shared/like_form', object: comment, user: comment.user
    -if signed_in? 
      .reply-button 
        %input{onclick: "show_reply_box(#{comment.id})", type: "button", value: "Reply", class: "comment-reply reply-#{comment.id}" ,id: "reply-#{comment.id}"}/
      %div{ :id => "child-comments-#{comment.id}", :class => "child-comments-#{comment.id} child_comments"  }
        - comment.children.each do|child| 
          = render :partial => 'comments/child_comment', :locals => { child: child}
    = render :partial => 'comments/child_form', :locals => { comment: @new_comment, parent_id: comment.id}          
    

