/- other_user = (conversation.sender == current_user) ? conversation.recipient : conversation.sender

.full_width
  .left.chat_all_user_img
    = link_to other_user do
      .avatar_50
        - if other_user.headshot
          = image_tag other_user.headshot.file_attachment.url(:medium)
        - else
          = image_tag '/assets/missing.png'
      = other_user.name

  .right.chat_send_btn
    .chat_user_login_status
      - if !other_user.last_seen.nil?
        %span
          - if other_user.login_status == 'logout'
            - colorname = "grey"           
          
          - elsif other_user.last_seen < 10.minutes.ago 
            - colorname = "grey"
          
          - elsif other_user.last_seen > 2.minutes.ago
            - colorname = "green"
          
          - elsif (other_user.last_seen < 2.minutes.ago && other_user.last_seen > 10.minutes.ago)  
            - colorname = "yellow"        
          %span{class: "txt_chat_#{colorname}"}
            #{time_ago_in_words(other_user.last_seen, true)} ago 
    = link_to "Send Message", "#", class: "btn btn-xs start-coversation",
"data-sid" => current_user.id, "data-rip" => other_user.id, "onclick"=>"javascript:open_conversation(event)"
.clear




