/- other_user = (conversation.sender == current_user) ? conversation.recipient : conversation.sender

.full_width
  .left.chat_all_user_img
    = link_to other_user do
      .avatar_50
        - if other_user.headshot
          = image_tag other_user.headshot.file_attachment.url(:medium)
        - else
          = image_tag '/assets/missing.png'
      = other_user.name

  .right.chat_send_btn
    .chat_user_login_status
      - if !other_user.last_seen.nil?
        %span
          - if other_user.login_status == 'logout'
            - colorname = "grey"           
          
          - elsif other_user.last_seen < 10.minutes.ago 
            - colorname = "grey"
          
          - elsif other_user.last_seen > 2.minutes.ago
            - colorname = "green"
          
          - elsif (other_user.last_seen < 2.minutes.ago && other_user.last_seen > 10.minutes.ago)  
            - colorname = "yellow"        
          %span{class: "txt_chat_#{colorname}"}
            #{time_ago_in_words(other_user.last_seen, true)} ago 
    = link_to "Send Message", "#", class: "btn btn-xs start-coversation",
"data-sid" => current_user.id, "data-rip" => other_user.id, "onclick"=>"javascript:open_conversation(event)"
.clear


:javascript
  var emojis = ["smile", "iphone", "girl", "smiley", "heart", "kiss", "copyright", "coffee", "a", "ab", "airplane", "alien", "ambulance", "angel", "anger", "angry", "arrow_forward", "arrow_left", "arrow_lower_left", "arrow_lower_right", "arrow_right", "arrow_up", "arrow_upper_left", "arrow_upper_right", "art", "astonished", "atm", "b", "baby", "baby_chick", "baby_symbol", "balloon", "bamboo", "bank", "barber", "baseball", "basketball", "bath", "bear", "beer", "beers", "beginner", "bell", "bento", "bike", "bikini", "bird", "birthday", "blue_car", "blue_heart", "blush", "boar", "boat", "bomb", "book", "boot", "bouquet", "bow", "bowtie", "boy", "bread", "briefcase", "broken_heart", "bug", "bulb", "person_with_blond_hair", "phone", "pig", "pill", "pisces", "point_down", "point_left", "point_right", "point_up", "point_up_2", "police_car", "poop", "post_office", "postbox", "pray", "princess", "punch", "purple_heart", "question", "rabbit", "racehorse", "radio", "up", "us", "v", "vhs", "vibration_mode", "virgo", "vs", "walking", "warning", "watermelon", "wave", "wc", "wedding", "whale", "wheelchair", "wind_chime", "wink", "wolf", "woman", "womans_hat", "womens", "x", "yellow_heart", "zap", "zzz", "+1", "-1", "mooning", "finger", "swear", "rock", "smoking", "drunk", "poolparty", "toivo", "bandit", "headbang", "dont_know", "not_listening", "cow", "puppy", "monkey", "chicken", "red_rose", "pumpkin", "bigsmile", "brokenheart", "cake", "call", "cash", "clapping", "cool", "crying", "dance", "devil", "doh", "drink", "dull", "emo", "envy", "evilgrin", "flower", "fubar", "giggle", "handshake", "happy", "heidy", "hi", "inlove", "itwasntme", "lipssealed", "mail", "makeup", "middlefinger", "mmm", "movie", "muscle", "music", "nerd", "ninja", "no", "nod", "party", "pizza", "puke", "rain", "rofl", "sadsmile", "shake", "skype", "sleepy", "smirk", "smoke", "speechless", "star", "sun", "sweating", "talking", "thinking", "time", "tmi", "tongueout", "wait", "whew", "wondering", "worried", "yawn", "yes"]
  
  var emojis_list = $.map(emojis, function(value, i) {
    return {'id':i, 'name':value};
  });

  function open_smiley(){
    $('.smiley')
    .atwho({
      at: ":", 
      tpl: "<li data-value=':${name}:'><img src='/assets/smileys/${name}.png' height='20' width='20'/> ${name} </li>",
      data: emojis_list
    })
  }
