- other_user = (conversation.sender == current_user) ? conversation.recipient : conversation.sender

.full_width
  .left.chat_all_user_img
    = link_to other_user do
      .avatar_50
        - if other_user.headshot
          = image_tag other_user.headshot.file_attachment.url(:medium)
        - else
          = image_tag '/assets/missing.png'
      = other_user.name
  .right
    = link_to "Send Message", "#", class: "btn btn-xs start-coversation",
"data-sid" => current_user.id, "data-rip" => other_user.id, "onclick"=>"javascript:open_conversation(event)"
.clear
