<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>
 
    <h1><%= @reciever.name %> </h1>
    <br>
    <% if !@reciever.last_seen.nil? %>
      <span>
        <% if @reciever.login_status == 'logout' %>
          <% colorname = "grey" %> 
        
        <% elsif @reciever.last_seen < 10.minutes.ago %>
          <% colorname = "grey" %>
        
        <% elsif @reciever.last_seen > 2.minutes.ago %>
          <% colorname = "green" %>
        
        <% elsif (@reciever.last_seen < 2.minutes.ago && @reciever.last_seen > 10.minutes.ago)  %>
          <% colorname = "yellow" %>
        <% end %>
        <span class= "txt_chat_<%= colorname %>">
          <%= time_ago_in_words(@reciever.last_seen, true) %> ago
        
    <% end %> 

    
  </div><div class="chatboxoptions">
    <%= link_to "<i class='fa fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id %>
&nbsp;&nbsp;
    <%= link_to "<i class='fa fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id %>
  </div>
  <br clear="all"/>
</div><div class="chatboxcontent">
  <% if @messages.any? %>
    <%= render @messages %>
  <% end %>
</div><div class="chatboxinput">
  <%= form_for([@conversation, @message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
    <%= f.text_area :body, class: "chatboxtextarea smiley", "data-cid" => @conversation.id, id:  "conversation_send_#{@conversation.id}" %>
  <% end %>
</div>
<script>
 open_smiley("conversation_send_<%= @conversation.id %>")
</script>
<%= subscribe_to conversation_path(@conversation) %>



