.right
  = render 'shared/edit_delete_buttons', obj: job
.makeup_sec.makeUp
  - if !job.cover_file_name.nil?
    = image_tag job.cover.url(:medium)
  - else
    = image_tag '/assets/job_default.jpg'
  .make_comtact
    .job_title_cont
      = job.title
    .job_organization_name_cont
      = job.organization.name
    .job_contact_link_cont
      = link_to "Contact now", job
