<%=  render 'layouts/header' %>
<div class="inneContaineralbum">
  <div id="album-cont" class="wrapper">
    <div id="content-container">
      <div id="crop-project-main" class="left">
        <div id="project-header-main" class="work-header-main work-header">
          <h1 id="project-title">
            Crop Image
          </h1>
        </div>
        <div id="crop_img_area">
          <%= form_for(@cover) do |f| %>
            <div class="landscape-crop-area">
              <% # Crop area. Mantains original image proportions. Crop area takes the aspect ratio %>
              <%= f.cropbox :file_attachment, :width => 600 %>
            </div>
            <div class="clear"></div>

            <div class="actions">
              <%= f.submit 'Crop image', id:'crop_btn' %>
            </div>
          <% end %>
          </div>
        </div>        
        
      </div>
    </div>
  </div>
</div>
<%=  render 'layouts/footer' %>
