.wrapper
  .profile_form_editable
    %h1 Create new password
    .field
    = simple_form_for @user do |f|
      = render 'shared/error_messages', object: f.object
      = field_set_tag 'Change Passsword' do
        .field
          = f.label :password
          = f.password_field :password, placeholder: "Enter new password"
        .field
          = f.label :password_confirmation
          = f.password_field :password_confirmation, placeholder: "Re enter new password"

      .actions
        = f.submit 'Update', id: "edit_user_profile"
