.innerBenner
  .wrapper
    .news_feeds
      %h2 
        - if @plan == 'trial'
          Basic
        - else
          = @plan.capitalize
        %span plan
      %p Join our thriving community today!
.wrapper
  .row
    .span6.offset3

      .field
      = simple_form_for @user do |f|
        = render 'shared/error_messages', object: f.object
        %span{:class => ("hidden" if @plan == 'visitor')}
          .field
            = f.label "Area of work"
            = f.association :category, collection: Category.order('name ASC'), include_blank: false, label: false
          .field
            = f.label "Profession"
            = render 'shared/sub_category_select', c: (params[:user].present? and params[:user][:category_id].present?) ? Category.find(params[:user][:category_id].to_i) : Category.order('name ASC').first

        .field
          = f.label :name
          = f.text_field :name
        .field#reg_email_container
          = f.label :email
          = f.text_field :email
          %span#user_form_email_img
            = image_tag '/assets/green-tick.gif'
          %span#user_form_email_error
            * Email name has already taken
        .field#reg_username_container
          = f.label :username
          = request.host + '/'
          = f.text_field :username
          %span#user_form_username_img
            = image_tag '/assets/green-tick.gif'
          %span#user_form_username_error
            * Username has already taken          
        .field
          = f.label :password
          = f.password_field :password
        .field
          = f.label :password_confirmation
          = f.password_field :password_confirmation
        .field
          = f.hidden_field :plan, value: @plan
        .actions
          = f.submit 'Create my account', class: "btn btn-large btn-primary"
        .clear
  /= link_to 'Back', users_path
