%h1 Join Geniya

.row
  .span6.offset3
    .field
    = simple_form_for @user do |f|
      = render 'shared/error_messages', object: f.object
      .field
        = f.label "Area of work"
        = collection_select(:user, :category_id, Category.all, :id, :name)
      .field
        - Category.all.each do|cat|
          %div.sub-category-select{ :id => "sub-category-select-#{cat.id}" }
            = f.label "label Profession"
            = collection_select(:user, :sub_category_id, SubCategory.where(:category_id => cat.id ), :id, :name)
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :username
        = request.host + '/'
        = f.text_field :username, style: "width: 80%"
      .field
        = f.label :password
        = f.password_field :password
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      .actions
        = f.submit 'Create my account', class: "btn btn-large btn-primary"

= link_to 'Back', users_path
