.wrapper
  %h1 Editing profile
  .profile_fixed
    .aside
      .field
        %label Email
        = @user.email
      .field
        %label Username
        = @user.username
      .field
        %label Plan
        = @user.plan
      .field
        %label Plan end date
        = @user.plan_end
      .field
        %label Area of work
        /= @user.sub_categories.first.category.name if @user.sub_categories
      .field
        %label Status
        = @user.status  

  .profile_editable
    .field
    = form_for @user do |f|
      = render 'shared/error_messages', object: f.object
      /= render 'shared/sub_categories_select', form_object: f, category_id: @user.sub_categories.first.category.id

      .field
        %label Email
        = f.text_field :email
      .field
        = f.label :name
        = f.text_field :name, placeholder: "Name"
      .field
        = f.label :gender
        = radio_button_tag 'user[gender]', 'male'
        Male
        = radio_button_tag 'user[gender]', 'female'
        Female
      .field
        = f.label :summary
        = text_area_tag 'user[summary]', nil, size: "5x5", placeholder: "Tell Something about yourself.."
      .field.datepicker
        = f.label :birthdate
        = f.text_field :birthdate, placeholder: "Select Your Birthday"
      .field
        = f.label :available
        = f.select(:available, options_for_select([['Yes', 'yes'], ['No', 'no'], ['Probably', 'probably'], ['Busy', 'busy']]))         
      -if @user.sub_category.name == 'model'
        .field
          = f.label :height
          = f.number_field :height
        .field
          = f.label :bust
          = f.number_field :bust
        .field
          = f.label :hips
          = f.number_field :hips
        .field
          = f.label :shoes
          = f.number_field :shoes
        .field
          = f.label :hair
          = f.text_field :hair
        .field
          = f.label :eyes
          = f.text_field :eyes


      .actions
        = f.submit 'Save'
