
- if @user.plan == 'visitor'
  - provide(:title, "#{@user.name}")
- else
  - provide(:title, "#{@user.name} | #{@user.sub_category.name}")
.inneContaineralbum
  .wrapper
    - if @user.kind=="bussiness"
      #bussiness_quote


    - if @user.kind == "bussiness"
      .business_profile_picture
        .pick
          .proflie
            - if @user.headshot
              = image_tag @user.headshot.file_attachment.url(:medium)
            - else
              = image_tag '/assets/company_logo.png', width: "198px", height: "198px"      
        - if (current_user == @user) && signed_in? && @user.kind == "bussiness"   
          .ProfilePicSelector
            %img{alt: "", src: "/assets/cam_big.png"}/
            .txt Update Profile Picture
            .uiMenu
              %ul
                %li
                  %i
                    %img{alt: "", src: "/assets/upload.png"}/
                  #uploadphoto.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                      %h4.modal-title Upload Profile Photo
                    .modal-body#profile_pic_upload_modal_body
                      %img{alt: "loading", src: "/assets/loader.gif", style: "visibility: hidden"}/
                      = form_for @headshot, :html => {  id: :profile_img_form  }  do |f|
                        = f.hidden_field :album_id, value: current_user.profile_pic_album.id
                        = f.hidden_field :upload_type, value: current_user.profile_pic_album.kind
                        = f.hidden_field :name, value: current_user.name
                        = f.hidden_field :special_attribute, value: "headshot"
                        .field
                          = f.file_field :file_attachment, id: "profile_img"
                        .actions
                          = f.submit 'Upload Profile Pic', id: "upload_profile_pic"
                    .modal-footer
                      %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                  %a.demo{"data-toggle" => "modal",href: "#uploadphoto", id: "#uploadphoto"}
                    Upload Profile Picture..  

            
    .slider_profile
      .cover-photo
        .cover-pic
          - if @user.covershot
            = image_tag @user.covershot.file_attachment.url(:large)     
      - if @user.kind == "user"
        .anisten
          .ani_top
            %h2
              = @user.name
              - if @user.plan != 'visitor'
                %span
                  = @user.sub_category.name 
          .art_gallery
            %ul
              - if (current_user == @user) && signed_in?
                #affiliations.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h4.modal-title Add Affiliations Details:
                    %p Type in search box and select from suggestions. If your organization does not appear in suggestions please click green button to add it to Geniya.
                  .modal-body
                    = render 'shared/exp_form'
                  .modal-footer
                    %button.btn.btn-default#affiliation_form_area_close{"data-dismiss" => "modal", type: "button"} Close
                %a.demo{"data-toggle" => "modal",href: "#affiliations"}
                  %b#aff_title_container
                    -if @user.affiliations.any?
                      Change Affiliations
                    - else
                      Add Affiliations                        
              - if @user.affiliations.where(status: 'yes').any?
                %li#affiliation_content
                  %span Current:
                  
                  #orgnz_detail
                    - if @user.affiliations.where(status: 'yes').any?
                      = render 'shared/current_company', user: @user  
                    
              - else
                - if (current_user == @user) && signed_in?               
                  %li#affiliation_content
                    %span Current:
                    #orgnz_detail                
                      %span
                        Add Detail
              
              
              - if @user.affiliations.where(status: 'no').any?
                %li#affiliation_content
                  %a.demo{"data-toggle" => "modal",href: "#affiliations"}
                    %span Previous:
                  
                    #prev_orgnz_detail
                      - if @user.affiliations.where(status: 'no').any?
                        = render 'shared/prev_company', user: @user   
              - else
                - if (current_user == @user) && signed_in?   
                  %li#affiliation_content
                    %a.demo{"data-toggle" => "modal",href: "#affiliations"}
                      %span Previous:
                      #prev_orgnz_detail
                        %span
                          Add Detail
              - if @user.available.nil? 
              - else
                %li#available_txt
                  %span Available:
                  %p 
                    =@user.available
              - if @user.email.nil? && signed_in?
              - else
                %li
                  - if (current_user == @user) && signed_in? 
                    %span
                      %img{alt: "", src: "/assets/artgallery_img1.png"}/
                    %p 
                      = @user.email
              - if (current_user == @user) && signed_in?
                #address.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h4.modal-title Location details:
                  .modal-body
                    = render 'shared/user_location'
                  .modal-footer
                    %button.btn.btn-default#address_form_area_close{"data-dismiss" => "modal", type: "button"} Close
                %a.demo{"data-toggle" => "modal",href: "#address"}
                  %b#user_address_title_container
                    -if @user.locations.any?
                      Change Location
                    - else
                      Add Location       
              - if @user.locations.any?
                %li
                  %span
                    %img{alt: "", src: "/assets/artgallery_img2.png"}/
                  #user_addrss_detail
                    = render 'shared/current_address', user: @user
              - else
                - if (current_user == @user) && signed_in?
                  %li
                    %span
                      %img{alt: "", src: "/assets/artgallery_img2.png"}/
                    #user_addrss_detail
                      %span
                        Set Location                 
              %h3
                %span
                  %span#connct-counts
                    = @user.confirmed_connected_users.count
                  Connections
      - if (current_user == @user) && signed_in?    
        #ProfileCoverPhotoSelector
          %i
            %img{alt: "", src: "/assets/edit.png"}/
          %span.uiButtonText Change Cover
          .uiMenucover
            %ul
              %li
                %i
                  %img{alt: "", src: "/assets/upload.png"}/
                #uploadcoverphoto.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h4.modal-title Upload Cover Photo
                  .modal-body#profile_cover_upload_modal_body
                    = form_for @covershot,  :html => { :multipart => true, id: :cover_img_form} do |f|
                      = f.hidden_field :album_id, value: current_user.cover_pic_album.id
                      = f.hidden_field :upload_type, value: current_user.cover_pic_album.kind  
                      = f.hidden_field :name, value: current_user.name
                      = f.hidden_field :special_attribute, value: "covershot"
                      .field
                        = f.file_field :file_attachment, id: "cover_img"
                      .actions
                        = f.submit 'Upload Cover Photo', id: "upload_cover_pic"
                      %img{alt: "loading", src: "/assets/loader.gif", style: "visibility: hidden"}/
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                %a.demo{"data-toggle" => "modal",href: "#uploadcoverphoto", id: "#uploadcoverphoto"}
                  Upload Cover Photo...           
              
              /%li
              /  %a{href: "/albums/cover-pics-"+"#{@user.slug}"}
              /    %i
              /      %img{alt: "", src: "/assets/reposition.png"}/
              /    %span.uilinkText View Cover Photos...
      
      

      
      .art_social
        %ul
          - if (current_user != @user) && signed_in?    
            %li
              %button.send_message_button.btn.btn-primary.demo{"data-toggle" => "modal", "data"=> @user.id, "onclick"=>"javascript:open_chat_modal(#{@user.id})"} Send message
          %li
            = render 'shared/follow_form' if signed_in?
          %li
            = render 'shared/connect_form' if signed_in?
      .clear
    
    - if @user.kind=="bussiness"
      .bussiness_profile_picture
        /- if signed_in? and current_user?(@user)
        /  .bussiness_page_btn
        /    - if @user.bussiness.nil?
        /      = link_to 'Add Business Details', "/bussinesses/new/", class: 'btn'
        /    - else
        /      = link_to 'Edit Business Details', "/bussinesses/#{@user.bussiness.id}/edit/", class: 'btn'        
        /    .switch_user
        /      = link_to 'Switch to Main Account', "/users/#{@user.parent_id}/change_login", class: 'btn'        
        /.company_left
        /  - if @user.bussiness
        /    = image_tag @user.bussiness.file_attachment.url(:medium)
        #bussiness_page_name
          #business_title_page
            = @user.name
          - if @user.bussiness
            .business_tagline
              = raw (@user.bussiness.tagline)
        .follow_us
          - if @user.bussiness
            %p Follow Us:
          %ul
            %li
              - if @user.bussiness
                - if @user.bussiness.facebook_link.empty?
                - else
                  %a{href: "#{@user.bussiness.facebook_link}", target: "_blank"}
                    %img{src: "/assets/follow_icon1.png"}/
            %li
              - if @user.bussiness
                - if @user.bussiness.youtube_link.empty?
                - else
                  %a{href: "#{@user.bussiness.youtube_link}", target: "_blank"}
                    %img{src: "/assets/follow_icon2.png"}/
            %li
              - if @user.bussiness
                - if @user.bussiness.google_link.empty?
                - else
                  %a{href: "#{@user.bussiness.google_link}", target: "_blank"}
                    %img{src: "/assets/follow_icon3.png"}/
            %li
              - if @user.bussiness
                - if @user.bussiness.twitter_link.empty?
                - else
                  %a{href: "#{@user.bussiness.twitter_link}", target: "_blank"}
                    %img{src: "/assets/follow_icon4.png"}/      
          

        .company_banner

          - if signed_in? and current_user?(@user) 
          - else
            .get_quote
              %a{id: "get_quote_form"} Get a Quote
            .Quote_form
              = simple_form_for(@quote, remote: true) do |f|
                = f.error_notification

                .form-inputs
                  = f.hidden_field :user_id, value: @user.parent_id
                  = f.hidden_field :page_id, value: @user.id
                  = f.input :name, placeholder: "Name"
                  = f.input :email, placeholder: "Email"
                  = f.input :contact, placeholder: "Contact"
                  = f.input :message, placeholder: "Message"
                  = f.button :submit, class: "compBtn", value: "Submit"
                #loading_img_quote
                  %img{src: "/assets/loader.gif", alt: "loading"}/   

    
    - if @user.kind == "user"
      .profile_picture
        .pick
          .proflie
            - if @user.headshot
              = image_tag @user.headshot.file_attachment.url(:medium)
            - else
              = image_tag '/assets/missing.png', width: "198px", height: "198px"
        - if (current_user == @user) && signed_in?    
          .ProfilePicSelector
            %img{alt: "", src: "/assets/cam_big.png"}/
            .txt Update Profile Picture
            .uiMenu
              %ul
                %li
                  %i
                    %img{alt: "", src: "/assets/upload.png"}/
                  #uploadphoto.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                      %h4.modal-title Upload Profile Photo
                    .modal-body#profile_pic_upload_modal_body
                      %img{alt: "loading", src: "/assets/loader.gif", style: "visibility: hidden"}/
                      = form_for @headshot, :html => {  id: :profile_img_form  }  do |f|
                        = f.hidden_field :album_id, value: current_user.profile_pic_album.id
                        = f.hidden_field :upload_type, value: current_user.profile_pic_album.kind
                        = f.hidden_field :name, value: current_user.name
                        = f.hidden_field :special_attribute, value: "headshot"
                        .field
                          = f.file_field :file_attachment, id: "profile_img"
                        .actions
                          = f.submit 'Upload Profile Pic', id: "upload_profile_pic"
                    .modal-footer
                      %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                  %a.demo{"data-toggle" => "modal",href: "#uploadphoto", id: "#uploadphoto"}
                    Upload Profile picture...  
                /%li
                /  %a{href: "/albums/profile-pics-"+"#{@user.slug}"}
                /    %i
                /      %img{alt: "", src: "/assets/edit.png"}/
                /    %span.uilinkText View Profile Photos...
      #profile_nav.profile_nav
        - if (current_user == @user) && signed_in?
          #tags.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
              %h4.modal-title Add Tags
            .modal-body
              - if signed_in?
                = simple_form_for(@tag, remote: true) do |f|
                  = f.error_notification

                  .form-inputs
                    %label
                      Enter Tags separated by comma 
                    = f.text_field :name, :autocomplete => :off

                  .form-actions-tags
                    = f.button :submit, value: "Add Tags", id: "add_tag"
            .modal-footer
              %button#add_tag_modal_close.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          #add_tag_link
            %a.demo{"data-toggle" => "modal",href: "#tags"}
              Add Tags
        #tags_cloud
          = render 'tags'
  %section.main_container
    .wrapper
      .span690.inline_block
        - if @user.kind == "user"
          - if signed_in? and current_user?(@user)
            = render 'controls'
          = render 'bussiness', user:@user
          .profile_background
            .bg_buttan
              Background
            .row
              %aside.span4
                .stats
                  .stat
                    - pluralize(@user.impressions_count, 'unique visior')
            .summery
              %h2 Summary
              %p
                = best_in_place_if @can_edit, @user, :summary, :nil => "Tell something about yourself", :type => :textarea              
          .profile_background
            .education_photography
              .education
                %h2 Education
                .edu-box
                  - @user.educations.each do |edu_detail|
                    = render 'shared/edu_detail', edu_detail: edu_detail
                - if (current_user == @user) && signed_in?
                  #edu.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                      %h4.modal-title Add Educations Details
                    .modal-body
                      = render 'shared/edu_form' 
                    .modal-footer
                      %button.btn.btn-default#close_education_modal{"data-dismiss" => "modal", type: "button"} Close
                  %a.demo{"data-toggle" => "modal",href: "#edu"}
                    Add Education Detail 
              .key_skills
                %h2 Key Skills & Expertise
                %ul#skills-field
                  = render 'skills'

                - if (current_user == @user) && signed_in?
                  #skills.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                      %h4.modal-title Add Skills
                    .modal-body
                      = simple_form_for(@skill, remote: true) do |f|
                        = f.error_notification

                        .form-inputs
                          = f.text_field :name, placeholder: 'Enter skills separated by commas', autocomplete: 'off'

                        .form-actions-skills
                          = f.button :submit, value: "Add Skills", id: "add"
                    .modal-footer
                      %button#add_skill_modal_close_button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                  %a.demo{"data-toggle" => "modal",href: "#skills"}
                    Add Skills              
              .clear
            .clear
          .profile_background
            .bg_buttan
              - if @user.plan == 'visitor'
                Liked portfolios
              - else
                Portfolios
            .box_sec
              - if @user.plan == 'trial'
                - if @user.albums.count>=7
                - else
                  .profile_portfolio_section
                    - if signed_in? and current_user?(@user) and @user.plan != 'visitor'
                      #portfolio-form.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                        .modal-header
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                          %h4.modal-title Add Portfolio Details:
                        .modal-body
                          = render 'shared/album_form'
                        .modal-footer
                          %button.btn.btn-default#close_portfolio_modal{"data-dismiss" => "modal", type: "button"} Close
                      %a.btn.btn-large.btn-primary.demo{"data-toggle" => "modal",href: "#portfolio-form"}
                        Add Portfolio
              - else
                .profile_portfolio_section
                  - if signed_in? and current_user?(@user) and @user.plan != 'visitor'
                    #portfolio-form.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                      .modal-header
                        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                        %h4.modal-title Add Portfolio Details:
                      .modal-body
                        = render 'shared/album_form'
                      .modal-footer
                        %button.btn.btn-default#close_portfolio_modal{"data-dismiss" => "modal", type: "button"} Close
                    %a.btn.btn-large.btn-primary.demo{"data-toggle" => "modal",href: "#portfolio-form"}
                      Add Portfolio
                                                      
              #ajax-portfolio-detail-homepage.modal.fade.modal-scrollable{style: "display: none;", tabindex: "-1"}
              - if @user.plan == 'visitor'
                - album_likes = Like.where(liker_id: @user.id, liker_type: 'User', likeable_type: 'Album')
                - if album_likes.any?
                  - album_likes.each do |album_like|
                    - album = Album.find(album_like.likeable_id)
                    = render 'shared/album_thumb', album: album if !album.nil? and album.kind == 'portfolio'
                - else
                  - if signed_in? and current_user?(@user)
                    = link_to "Browse portfolios", portfolios_path
                  - else
                    = @user.name
                    has not liked any portfolio yet.
              - else
                - @user.albums.where(kind: 'portfolio').each do |album|
                  = render 'shared/album_thumb', album: album
              
            .clear
        - else
          .bussiness_profile_background
            - if signed_in? and current_user?(@user)
              .bussiness_page_btn
                - if @user.bussiness.nil?
                  = link_to 'Add Business Details', "/bussinesses/new/", class: 'btn btn btn-primary'
                - else
                  = link_to 'Edit Business Details', "/bussinesses/#{@user.bussiness.id}/edit/", class: 'btn btn btn-primary'        
                .switch_user
                  = link_to 'Switch to Main Account', "/users/#{@user.parent_id}/change_login", class: 'btn btn btn-primary'             
            .summary_tabs
              %ul
                %li
                  %a{id: "bnss_summary_link"} Summary
                %li
                  %a{id: "bnss_agenda_link"} Agenda
                %li
                  %a{id: "bnss_services_link"} Services
                %li
                  %a{id: "bnss_about_link"} About Us
              .summary_discription{id: "bnss_summary"}
                - if @user.bussiness
                  = raw (@user.bussiness.summary)
              .summary_discription{id: "bnss_agenda"}
                - if @user.bussiness
                  = raw @user.bussiness.agenda
              .summary_discription{id: "bnss_services"}
                - if @user.bussiness
                  =  raw @user.bussiness.services
              
              .summary_discription{id: "bnss_about"}
                - if @user.bussiness
                  = raw @user.bussiness.about
            .education_photography
              %a.our_manu.left Offering
              /%a.full_manu.right Full Menu »
              .clear
            .box_sec
              #menu_cat_btn
                - if signed_in? and current_user?(@user)
                  = link_to 'Add Category', "/menucategories/new", class: 'btn btn btn-primary'
                  = link_to 'Add Item', "/menuitems/new", class: 'btn btn btn-primary'              
              #menu_box
                - @user.menucategories.each do|x|
                  .company_manu{ :id => "menucat_box-#{x.id}" }
                    %h2.main_head
                      = x.name 
                      - if signed_in? and current_user?(@user)
                        %span.edit_portfolio_pencil_cont
                          %a{href: "/menucategories/#{x.id}/edit"}
                            %img{alt: "", src: "/assets/edit.png"}/  
                        %span.delete_portfolio_cross_cont
                          = link_to menucategory_path(x), :method => :delete, :remote => true,  :disable_with => "×", :class => 'menucat_box-delete' , :id => "menucat_box-delete-#{x.id}" do 
                            %img{alt: "", src: "/assets/cross.png"}/                                                 
                    %ul
                      - Menuitem.where(menucategory_id: x.id).each do|n|
                        %li{ :id => "menuitem_box-#{n.id}" }
                          - if signed_in? and current_user?(@user)
                            %span.edit_portfolio_pencil_cont
                              %a{href: "/menuitems/#{n.id}/edit"}
                                %img{alt: "", src: "/assets/edit.png"}/               
                            %span.delete_portfolio_cross_cont
                              = link_to menuitem_path(n), :method => :delete, :remote => true,  :disable_with => "×", :class => 'menuitem_box-delete' , :id => "menuitem_box-delete-#{n.id}" do 
                                %img{alt: "", src: "/assets/cross.png"}/                            
                          .left_part
                            %h3
                              = n.name
                            %p
                              = n.description 
                          .right_part
                            $
                            = n.price
                          


                .clear
              .clear
            .education_photography
              %a.our_manu.left Contact Detail
              .clear
            .box_sec
              .company_contact
                %ul
                  %li
                    %h2.main_head Industry
                    %p 
                      - if @user.bussiness
                        = raw @user.bussiness.industry
                  %li
                    %h2.main_head Website
                    %p
                      - if @user.bussiness
                        %a{href: "#{@user.bussiness.website}" , target: "_blank"}
                          = raw @user.bussiness.website
                  %li
                    %h2.main_head Contact
                    %p 
                      - if @user.bussiness
                        = raw @user.bussiness.contact
                        
                  %li
                    %h2.main_head Headquarters
                    %p 
                      - if @user.bussiness
                        = raw @user.bussiness.headquarter
                  %li
                    %h2.main_head Company Size
                    %p 
                      - if @user.bussiness
                        = raw @user.bussiness.companysize
                  %li
                    %h2.main_head Founded
                    %p 
                      - if @user.bussiness
                        = raw @user.bussiness.founded
              .clear
            .box_sec
              .education_photography.no_border
                %a.our_manu.left 
                  - if signed_in?
                    Image Gallery
                  - else
                    - if @user.albums.count>=5
                      Image Gallery
                .clear
              .company_gallary
                .profile_portfolio_section
                  - if signed_in? and current_user?(@user) and @user.plan != 'visitor'
                    #portfolio-form.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                      .modal-header
                        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                        %h4.modal-title Add Portfolio Details:
                      .modal-body
                        = render 'shared/album_form'
                      .modal-footer
                        %button.btn.btn-default#close_portfolio_modal{"data-dismiss" => "modal", type: "button"} Close
                    %a.btn.btn-large.btn-primary.demo{"data-toggle" => "modal",href: "#portfolio-form"}
                      Add Portfolio
                
                #ajax-portfolio-detail-homepage.modal.fade.modal-scrollable{style: "display: none;", tabindex: "-1"}
                - if @user.plan == 'visitor'
                  - album_likes = Like.where(liker_id: @user.id, liker_type: 'User', likeable_type: 'Album')
                  - if album_likes.any?
                    - album_likes.each do |album_like|
                      - album = Album.find(album_like.likeable_id)
                      = render 'shared/album_thumb', album: album if !album.nil? and album.kind == 'portfolio'
                  - else
                    - if signed_in? and current_user?(@user)
                      = link_to "Browse portfolios", portfolios_path
                    - else
                      = @user.name
                      has not liked any portfolio yet.
                - else
                  - @user.albums.where(kind: 'portfolio').each do |album|
                    = render 'shared/album_thumb', album: album
              .clear        
          - if signed_in? 
            .bussiness_timeline
              .user_description
                /= @sql
                #business_timeline_comment
                  Recent Comments
                - if @activities.any?
                  %ol.updates#feed_cont
                    - @activities.each do |activity|
                      = render activity 
                  #infinite-scrolling
                    = will_paginate @activities    
                - else
                  #no_activity
                    Recent no Activity  
      
      
      .span315.offset1.inline_block
        - if @user.kind =="bussiness"
          #upcoming_event_box
            .network
              %h2 Upcoming events
              %ul.upcoming_events
                - if @user.events.any?
                  - if @user.events
                    - @user.events.limit(2).order(created_at: :desc).each do |x|
                      %li
                        .coming_image
                          - if @user.headshot
                            = image_tag @user.headshot.file_attachment.url(:medium)
                          - else
                            = image_tag '/assets/company_logo.png', width: "198px", height: "198px"
                        .event_right
                          %p
                            %a.upcoming_link{href: "/events/#{x.id}.html/"}
                              = x.title
                          %span
                            = x.description
                - else
                  #no_recent_event
                    Recently No Event

                .clear        
        = render 'sidebar'
        
  /  %p#notice= notice
  /  - provide(:title, @user.name)
  /  .row
  /    %aside.span4
  /      %section
  /        - if @headshot.id
  /          =image_tag @headshot.file_attachment.url(:thumb)
  /        - else
  /          - if current_user?(@user)
  /            = form_for @headshot, :html => { :multipart => true } do |f|
  /              = f.hidden_field :album_id, value: current_user.default_album.id
  /              = f.hidden_field :name, value: current_user.name
  /              = f.hidden_field :special_attribute, value: "headshot"
  /              .field
  /                = f.file_field :file_attachment
  /              .actions
  /                = f.submit 'Save'
  /          - else
  /            =image_tag '/assets/missing.png', width: "50px", height: "50px"  
  /        %h1
  /          = @user.name
  /      %section= render 'shared/stats'
  /      .stats
  /        .stat
  /          - pluralize(@user.impressions_count, 'unique visior')
  /    .profile_portfolio_section
  /      - if signed_in? and current_user?(@user)
  /        .new_portfolio_button_cont
  /          = link_to 'New Album', new_album_path, class: 'btn btn-primary'
  /      #pp_gallery.pp_gallery
  /        #pp_loading.pp_loading
  /        #pp_next.pp_next
  /        #pp_prev.pp_prev
  /        #pp_thumbContainer
  /          - @user.albums.each do |album|
  /            = render 'shared/album_thumb', album: album
  /        /#pp_back.pp_back Albums
  /        /- @user.albums.each do |album|
  /        /  = render 'shared/album_protfolio', album: album
  /    .span8
  /      = render 'shared/follow_form' if signed_in?
  /      = render 'shared/connect_form' if signed_in?
  /      - if @user.updates.any?
  /        %h3
  /          Updates (#{@user.updates.count})
  /        %ol.updates= render @updates
  /        = will_paginate @updates
  /  %br
  /  %p
  /    %b Email:
  /    
  /    = @user.email
  /  %p
  /    %b Username:
  /    = @user.username
  /  %p
  /    %b Name:
  /    = best_in_place_if @can_edit, @user, :name
  /  %p
  /    %b Gender:
  /    = best_in_place_if @can_edit, @user, :gender
  /  %p
  /    %b Summary:
  /    = best_in_place_if @can_edit, @user, :summary, :nil => "Tell something about yourself"
  /  %p
  /    %b Birthdate:
  /    = best_in_place_if @can_edit, @user, :birthdate, :type => :date, :nil => "Select your birthdate"
  /  %p
  /    %b Available:
  /    = best_in_place_if @can_edit, @user, :available, :nil => "Write about your availability"
  /  %p
  /    %b Plan:
  /    = @user.plan
  /  %p
  /    %b Plan end:
  /    = @user.plan_end
  /  %p
  /    %b Status:
  /    = @user.status
  /  -if @user.sub_category.name == 'model'
  /    %p
  /      %b Height:
  /      = best_in_place_if @can_edit, @user, :height, :nil => "Height in centimeters"
  /    %p
  /      %b Bust:
  /      = best_in_place_if @can_edit, @user, :bust
  /    %p
  /      %b Hips:
  /      = best_in_place_if @can_edit, @user, :hips
  /    %p
  /      %b Shoes:
  /      = best_in_place_if @can_edit, @user, :shoes
  /    %p
  /      %b Hair:
  /      = best_in_place_if @can_edit, @user, :hair
  /    %p
  /      %b Eyes:
  /      = best_in_place_if @can_edit, @user, :eyes/
  /
