%p#notice= notice
- provide(:title, @user.name)
.row
  %aside.span4
    %section
      %h1
        = @user.name
        = image_tag(@user, size: "16x10", alt: "Edit Entry")
    %section= render 'shared/stats'
  .profile_portfolio_section
    - @user.albums.each do |album|
      = render 'shared/album_thumb', album: album
  .span8
    = render 'follow_form' if signed_in?
    = render 'connect_form' if signed_in?
    - if @user.updates.any?
      %h3
        Updates (#{@user.updates.count})
      %ol.updates= render @updates
      = will_paginate @updates
%br
%p
  %b Email:
  = @user.email
%p
  %b Username:
  = @user.username
%p
  %b Name:
  = @user.name
%p
  %b Gender:
  = @user.gender
%p
  %b Summary:
  = @user.summary
%p
  %b Height:
  = @user.height
%p
  %b Bust:
  = @user.bust
%p
  %b Hips:
  = @user.hips
%p
  %b Shoes:
  = @user.shoes
%p
  %b Hair:
  = @user.hair
%p
  %b Eyes:
  = @user.eyes
%p
  %b Birthdate:
  = @user.birthdate
%p
  %b Available:
  = @user.available
%p
  %b Plan:
  = @user.plan
%p
  %b Plan end:
  = @user.plan_end
%p
  %b Status:
  = @user.status

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
