- if @user.plan == 'visitor'
  - provide(:title, "#{@user.name}")
- else
  - provide(:title, "#{@user.name} | #{@user.sub_category.name}")
.inneContaineralbum
  .wrapper
    .slider_profile
      .cover-photo
        .cover-pic
          - if @user.covershot
            = image_tag @user.covershot.file_attachment.url(:large)     
      .anisten
        .ani_top
          %h2
            = @user.name
            - if @user.plan != 'visitor'
              %span
                = @user.sub_category.name 
        .art_gallery
          %ul
            - if (current_user == @user) && signed_in?
              #affiliations.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                  %h4.modal-title Add Affiliations Details:
                .modal-body
                  = render 'shared/exp_form'
                .modal-footer
                  %button.btn.btn-default#affiliation_form_area_close{"data-dismiss" => "modal", type: "button"} Close
              %a.demo{"data-toggle" => "modal",href: "#affiliations"}
                %b#aff_title_container
                  -if @user.affiliations.any?
                    Change Affiliations
                  - else
                    Add Affiliations                        
            %li#affiliation_content
              %span Current:
              
              #orgnz_detail
                - if @user.affiliations.where(status: 'yes').any?
                  = render 'shared/current_company', user: @user  
                - else
                  - if (current_user == @user) && signed_in?
                    %span
                      Add Detail
            %li#affiliation_content
              %span Previous:
              
              #prev_orgnz_detail
                - if @user.affiliations.where(status: 'no').any?
                  %p.aff_org_name{ :id => "current_company-#{@user.affiliations.where(status: 'no').order(end_date: :desc).first.id}" }
                    /%a{href:"/organizations/"+"#{@user.affiliations.where(status: 'no').order(end_date: :desc).first.organization.id}"}
                    %span.font_17
                      = @user.affiliations.where(status: 'no').order(end_date: :desc).first.organization.name
                    -if (current_user == @user) && signed_in?
                      = link_to "×", affiliation_path(@user.affiliations.where(status: 'no').order(end_date: :desc).first.id), :method => :delete, :remote => true,  :disable_with => "×", :class => 'tag_delete' , :id => "affiliation-delete-#{@user.affiliations.where(status: 'no').order(end_date: :desc).first.id}" 
                - else
                  %span
                    Add Detail
            %li
              %span Available:
              %p 
                =@user.available
            %li
              %span
                /%img{alt: "", src: "/assets/artgallery_img1.png"}/
              - if (current_user == @user) && signed_in?
                %p 
                  = @user.email
            - if (current_user == @user) && signed_in?
              #address.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                  %h4.modal-title Location details:
                .modal-body
                  = render 'shared/user_location'
                .modal-footer
                  %button.btn.btn-default#address_form_area_close{"data-dismiss" => "modal", type: "button"} Close
              %a.demo{"data-toggle" => "modal",href: "#address"}
                %b#user_address_title_container
                  -if @user.locations.any?
                    Change Location
                  - else
                    Add Location       
            %li
              %span
              #user_addrss_detail
                - if @user.locations.any?
                  = render 'shared/current_address', user: @user
                - else
                  - if (current_user == @user) && signed_in?
                    %span
                      Set Location   
            %h3
              %span
                %span#connct-counts
                  = @user.connected_users.count
                Connections
      - if (current_user == @user) && signed_in?    
        #ProfileCoverPhotoSelector
          %i
            %img{alt: "", src: "/assets/edit.png"}/
          %span.uiButtonText Change Cover
          .uiMenucover
            %ul
              %li
                %i
                  %img{alt: "", src: "/assets/upload.png"}/
                #uploadcoverphoto.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h4.modal-title Upload Cover Photo
                  .modal-body#profile_cover_upload_modal_body
                    = form_for @covershot,  :html => { :multipart => true, id: :cover_img_form} do |f|
                      = f.hidden_field :album_id, value: current_user.cover_pic_album.id
                      = f.hidden_field :upload_type, value: current_user.cover_pic_album.kind  
                      = f.hidden_field :name, value: current_user.name
                      = f.hidden_field :special_attribute, value: "covershot"
                      .field
                        = f.file_field :file_attachment, id: "cover_img"
                      .actions
                        = f.submit 'Upload Cover Photo', id: "upload_cover_pic"
                      %img{alt: "loading", src: "/assets/loader.gif", style: "visibility: hidden"}/
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                %a.demo{"data-toggle" => "modal",href: "#uploadcoverphoto", id: "#uploadcoverphoto"}
                  Upload Cover Photo...           
              
              /%li
              /  %a{href: "/albums/cover-pics-"+"#{@user.slug}"}
              /    %i
              /      %img{alt: "", src: "/assets/reposition.png"}/
              /    %span.uilinkText View Cover Photos...
      .art_social
        %ul
          - if (current_user != @user) && signed_in?    
            %li
              %button.send_message_button.btn.btn-primary.demo{"data-toggle" => "modal", "data"=> @user.id, "onclick"=>"javascript:open_chat_modal(#{@user.id})"} Send message
          %li
            = render 'shared/follow_form' if signed_in?
          %li
            = render 'shared/connect_form' if signed_in?
      .clear
    .profile_picture
      .pick
        .proflie
          - if @user.headshot
            = image_tag @user.headshot.file_attachment.url(:medium)
          - else
            = image_tag '/assets/missing.png', width: "198px", height: "198px"
      - if (current_user == @user) && signed_in?    
        .ProfilePicSelector
          %img{alt: "", src: "/assets/cam_big.png"}/
          .txt Update Profile Picture
          .uiMenu
            %ul
              %li
                %i
                  %img{alt: "", src: "/assets/upload.png"}/
                #uploadphoto.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h4.modal-title Upload Profile Photo
                  .modal-body#profile_pic_upload_modal_body
                    %img{alt: "loading", src: "/assets/loader.gif", style: "visibility: hidden"}/
                    = form_for @headshot, :html => {  id: :profile_img_form  }  do |f|
                      = f.hidden_field :album_id, value: current_user.profile_pic_album.id
                      = f.hidden_field :upload_type, value: current_user.profile_pic_album.kind
                      = f.hidden_field :name, value: current_user.name
                      = f.hidden_field :special_attribute, value: "headshot"
                      .field
                        = f.file_field :file_attachment, id: "profile_img"
                      .actions
                        = f.submit 'Upload Profile Pic', id: "upload_profile_pic"
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                %a.demo{"data-toggle" => "modal",href: "#uploadphoto", id: "#uploadphoto"}
                  Upload Profile picture...  
              /%li
              /  %a{href: "/albums/profile-pics-"+"#{@user.slug}"}
              /    %i
              /      %img{alt: "", src: "/assets/edit.png"}/
              /    %span.uilinkText View Profile Photos...
    #profile_nav.profile_nav
      - if (current_user == @user) && signed_in?
        #tags.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4.modal-title Add Tags
          .modal-body
            - if signed_in?
              = simple_form_for(@tag, remote: true) do |f|
                = f.error_notification

                .form-inputs
                  %label
                    Enter Tags separated by comma 
                  = f.text_field :name, :autocomplete => :off

                .form-actions-tags
                  = f.button :submit, value: "Add Tags", id: "add_tag"
          .modal-footer
            %button#add_tag_modal_close.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        #add_tag_link
          %a.demo{"data-toggle" => "modal",href: "#tags"}
            Add Tags
      #tags_cloud
        = render 'tags'
  %section.main_container
    .wrapper
      .span690.inline_block
        - if signed_in? and current_user?(@user)
          .profile_background{id:"controlls"}
            .bg_buttan
              Controls
            #controll_container
              #controll_left_container
                = link_to 'Create organization', new_organization_path, class: 'btn'    
 
                - if current_user.plan == 'deluxe' or current_user.plan == 'admin'
                  = link_to 'Post job', new_job_path, class: 'btn'

                - if @user.feature_img == 'true'
                  #organization_controll_container    
                    #addfeatureimg.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                      .modal-header
                        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                        %h4.modal-title Add Feature Image
                      .modal-body#profile_cover_upload_modal_body
                        = form_for @featureimg,  :html => { :multipart => true, id: :feature_img_form} do |f|
                          = f.hidden_field :user_id, value: current_user.id    
                          .field
                            = f.file_field :feature_img, id: "user_feature_img"  
                          .actions
                            = f.submit 'Add Feature Image', id: "user_featureimg_btn"
                          %img{alt: "loading", src: "/assets/loader.gif", style: "visibility: hidden"}/
                      .modal-footer
                        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                        /%button.btn.btn-primary{type: "button"} Save changes
                    %a.demo{"data-toggle" => "modal",href: "#addfeatureimg", id: "#addfeatureimg"}
                      %span#orgn_container
                        Add Feature Image       


              #controll_right_container
                = link_to 'Edit profile', "/users/"+current_user.slug+"/profile_edit", class: 'btn'
       
                - if current_user.plan == 'deluxe' or current_user.plan == 'admin'
                  = link_to 'Create advertisement', new_advertisement_path, class: 'btn'

                  - if current_user.advertisements.any?
                    = link_to 'My advertisements', advertisements_path, class: 'btn'

              .clear
            .clear


        .profile_background
          .bg_buttan
            Background
          .row
            %aside.span4
              .stats
                .stat
                  - pluralize(@user.impressions_count, 'unique visior')
          .summery
            %h2 Summary
            %p
              = best_in_place_if @can_edit, @user, :summary, :nil => "Tell something about yourself", :type => :textarea              
        .profile_background
          .education_photography
            .education
              %h2 Education
              .edu-box
                - @user.educations.each do |edu_detail|
                  = render 'shared/edu_detail', edu_detail: edu_detail
              - if (current_user == @user) && signed_in?
                #edu.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h4.modal-title Add Educations Details
                  .modal-body
                    = render 'shared/edu_form' 
                  .modal-footer
                    %button.btn.btn-default#close_education_modal{"data-dismiss" => "modal", type: "button"} Close
                %a.demo{"data-toggle" => "modal",href: "#edu"}
                  Add Education Detail 
            .key_skills
              %h2 Key Skills Expertise
              %ul#skills-field
                = render 'skills'

              - if (current_user == @user) && signed_in?
                #skills.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h4.modal-title Add Skills
                  .modal-body
                    = simple_form_for(@skill, remote: true) do |f|
                      = f.error_notification

                      .form-inputs
                        = f.text_field :name, placeholder: 'Enter skills separated by commas', autocomplete: 'off'

                      .form-actions-skills
                        = f.button :submit, value: "Add Skills", id: "add"
                  .modal-footer
                    %button#add_skill_modal_close_button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                %a.demo{"data-toggle" => "modal",href: "#skills"}
                  Add Skills              
            .clear
          .clear
        .profile_background
          .bg_buttan
            - if @user.plan == 'visitor'
              Liked portfolios
            - else
              Portfolios
          .box_sec
            .profile_portfolio_section
              - if signed_in? and current_user?(@user) and @user.plan != 'visitor'
                #portfolio-form.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h4.modal-title Add Portfolio Details:
                  .modal-body
                    = render 'shared/album_form'
                  .modal-footer
                    %button.btn.btn-default#close_portfolio_modal{"data-dismiss" => "modal", type: "button"} Close
                %a.btn.btn-large.btn-primary.demo{"data-toggle" => "modal",href: "#portfolio-form"}
                  Add Portfolio
            
            #ajax-portfolio-detail-homepage.modal.fade.modal-scrollable{style: "display: none;", tabindex: "-1"}
            - if @user.plan == 'visitor'
              - album_likes = Like.where(liker_id: @user.id, liker_type: 'User', likeable_type: 'Album')
              - if album_likes.any?
                - album_likes.each do |album_like|
                  - album = Album.find(album_like.likeable_id)
                  = render 'shared/album_thumb', album: album if !album.nil? and album.kind == 'portfolio'
              - else
                - if signed_in? and current_user?(@user)
                  = link_to "Browse portfolios", portfolios_path
                - else
                  = @user.name
                  has not liked any portfolio yet.
            - else
              - @user.albums.where(kind: 'portfolio').each do |album|
                = render 'shared/album_thumb', album: album
            
          .clear    
      .span315.offset1.inline_block
        .network
          %h2 Network
          %ul
            %li#network_tab_follower
              %span#tab_logo
              %strong#followers.stat
                = @user.followers.count
              Followers
              %a#followersuser
                %img{alt: "", height: "22", src: "/assets/network_img2.png", width: "22", id: "follw-img"}/
            .social_user
              - @users = @user.followers.limit(18)
              - if @users.any?
                %ul.users= render @users
              - else
                .empty_content_follower
                  %p
                    No Followers
              %p
                #all-follower.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h4.modal-title
                      = @user.username
                      Followers
                  .modal-body
                    - @users = @user.followers.limit(18)
                    - if @users.any?
                      %ul.users= render @users
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                %a.demo{"data-toggle" => "modal",href: "#all-follower", id: "follower-link"}
                  - if @users.any?
                    See All Followers »
            %li#network_tab_following
              %span#tab_logo
              %strong#following.stat
                = @user.followed_users.count
              Following
              %a#followinguser
                %img{alt: "", height: "22", src: "/assets/network_img2.png", width: "22"}/
            .socail_share
              - @users = @user.followed_users.limit(18)
              - if @users.any?
                %ul.users= render @users 
              - else
                .empty_content_following
                  %p
                    No Followings                         
              %p
                #all-following.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h4.modal-title 
                      = @user.username
                      Following
                  .modal-body
                    - @users = @user.followed_users
                    - if @users.any?
                      %ul.users= render @users
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                %a.demo{"data-toggle" => "modal",href: "#all-following", id: "follower-link"}
                  - if @users.any?
                    See All Following »          
            %li#network_tab_connected
              %span#tab_logo
              %p 
                = @user.connected_users.count
                Connections
              %a#connecteduser
                %img{alt: "", height: "22", src: "/assets/network_img2.png", width: "22"}/
            .connt_user
              - @users = @user.connected_users.limit(18)
              - if @users.any?
                %ul.users= render @users          
              - else
                .empty_content_connect
                  %p
                    No Connections 
              %p
                #all-connection.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h4.modal-title
                      = @user.username
                      Connetions
                  .modal-body
                    - @users = @user.connected_users
                    - if @users.any?
                      %ul.users= render @users
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                %a.demo{"data-toggle" => "modal",href: "#all-connection", id: "follower-link"}
                  - if @users.any?
                    See All Connections »                                
            .clear 
        - if signed_in? and current_user?(@user) and (current_user.plan == 'deluxe' or current_user.plan == 'admin')
          #event_calendar_cont.span315.network
            #event_modal.modal.fade{"data-width" => "400", style: "display: none;", tabindex: "-1"}
            %h2 Event calendar
            #event_calendar
            #new_event_modal.modal.fade{"data-width" => "500", style: "display: none;", tabindex: "-1"}
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                %h4.modal-title
                  New event
              .modal-body
                = render 'events/form'
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
            .width_half.float_left
              /%a.demo{"data-toggle" => "modal",href: "#new_event_modal", id: "new_event_button"}
              = link_to 'Add new event', new_event_path
            .width_half.float_left.text_right
              = link_to 'View detail', events_path
        
        #discover_geniye_profile_cont.discover.span315
          Discover Geniya
          %ul.discover_nav
            %li
              %a{href: ""} Home
            - @categories.each do |category|
              %li
                = link_to category.name.sub(' ', '/'), '/portfolios/'+ category.slug
          .clear
          .search
            = form_tag(portfolios_path, method: :get) do
              %input{name: 'q', placeholder: "Enter keyword", type: "text", class: "srch-portf"}
              = submit_tag 'Go', class: 'go'      
          /.ageFilter
          /  #ageRange
          /    .currentRange{style: "left: 4.5px; right: 0px;"}
          /    .leftGrip.grip{"data-value" => "19", style: "left: 4.5px;"}
          /      %span 19
          /    .rightGrip.grip{"data-value" => "51", style: "left: 260px;"}
          /      %span 50+
        
        .add_sec
          - if @jobs.any?
            .bg_buttan_job
              Jobs
          .ads-box
            - @jobs.each do |job|
              = render job        

        .add_sec
          - if @ads.any?
            .bg_buttan_job
              Advertisements
          .ads-box
            = render 'shared/advertise_form', user: @user 
        
  /  %p#notice= notice
  /  - provide(:title, @user.name)
  /  .row
  /    %aside.span4
  /      %section
  /        - if @headshot.id
  /          =image_tag @headshot.file_attachment.url(:thumb)
  /        - else
  /          - if current_user?(@user)
  /            = form_for @headshot, :html => { :multipart => true } do |f|
  /              = f.hidden_field :album_id, value: current_user.default_album.id
  /              = f.hidden_field :name, value: current_user.name
  /              = f.hidden_field :special_attribute, value: "headshot"
  /              .field
  /                = f.file_field :file_attachment
  /              .actions
  /                = f.submit 'Save'
  /          - else
  /            =image_tag '/assets/missing.png', width: "50px", height: "50px"  
  /        %h1
  /          = @user.name
  /      %section= render 'shared/stats'
  /      .stats
  /        .stat
  /          - pluralize(@user.impressions_count, 'unique visior')
  /    .profile_portfolio_section
  /      - if signed_in? and current_user?(@user)
  /        .new_portfolio_button_cont
  /          = link_to 'New Album', new_album_path, class: 'btn btn-primary'
  /      #pp_gallery.pp_gallery
  /        #pp_loading.pp_loading
  /        #pp_next.pp_next
  /        #pp_prev.pp_prev
  /        #pp_thumbContainer
  /          - @user.albums.each do |album|
  /            = render 'shared/album_thumb', album: album
  /        /#pp_back.pp_back Albums
  /        /- @user.albums.each do |album|
  /        /  = render 'shared/album_protfolio', album: album
  /    .span8
  /      = render 'shared/follow_form' if signed_in?
  /      = render 'shared/connect_form' if signed_in?
  /      - if @user.updates.any?
  /        %h3
  /          Updates (#{@user.updates.count})
  /        %ol.updates= render @updates
  /        = will_paginate @updates
  /  %br
  /  %p
  /    %b Email:
  /    
  /    = @user.email
  /  %p
  /    %b Username:
  /    = @user.username
  /  %p
  /    %b Name:
  /    = best_in_place_if @can_edit, @user, :name
  /  %p
  /    %b Gender:
  /    = best_in_place_if @can_edit, @user, :gender
  /  %p
  /    %b Summary:
  /    = best_in_place_if @can_edit, @user, :summary, :nil => "Tell something about yourself"
  /  %p
  /    %b Birthdate:
  /    = best_in_place_if @can_edit, @user, :birthdate, :type => :date, :nil => "Select your birthdate"
  /  %p
  /    %b Available:
  /    = best_in_place_if @can_edit, @user, :available, :nil => "Write about your availability"
  /  %p
  /    %b Plan:
  /    = @user.plan
  /  %p
  /    %b Plan end:
  /    = @user.plan_end
  /  %p
  /    %b Status:
  /    = @user.status
  /  -if @user.sub_category.name == 'model'
  /    %p
  /      %b Height:
  /      = best_in_place_if @can_edit, @user, :height, :nil => "Height in centimeters"
  /    %p
  /      %b Bust:
  /      = best_in_place_if @can_edit, @user, :bust
  /    %p
  /      %b Hips:
  /      = best_in_place_if @can_edit, @user, :hips
  /    %p
  /      %b Shoes:
  /      = best_in_place_if @can_edit, @user, :shoes
  /    %p
  /      %b Hair:
  /      = best_in_place_if @can_edit, @user, :hair
  /    %p
  /      %b Eyes:
  /      = best_in_place_if @can_edit, @user, :eyes/
  /
