<div class="row-fluid spaced-top">
  <div class="span2 spaced-left">
    <div class="btn-group btn-group-vertical btn-block">
      <%= link_to 'Remind me later', current_user, class: 'btn' %>
    </div>
  </div><div class="span10 spaced-right">
    <br />
    <br />
    <h1>Deluxe plan subscription</h1>
    <ul>
      <li>Create unlimited portfolios</li>
      <li>Showcase your best photos</li>
      <li>Get Employed, Hire Employees</li>
      <li>Follow and get followed by other professionals</li>
      <li>Win customers and fans</li>
      <li>Get appreciation and feedback on your work</li>
      <li>Appear in local searches</li>
      <li>Get our event calendar service</li>
    </ul>
              
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

      <label>
        <input type="radio" name="t3" value="Y" onclick="document.getElementById('planPrice').value = '199.00';" checked="checked" />199.00 USD Anually
      </label>
      <br />
      <label>
        <input type="radio" name="t3" value="M" onclick="document.getElementById('planPrice').value = '19.99';" />
        19.99 USD Monthly
      </label>
      <br />

      <!-- Identify the subscription. -->
      <input type="hidden" name="item_name" value="deluxe" />
      
      <!-- Identify your business so that you can collect the payments. -->
      <input type="hidden" name="business" value="neeraj.singh-facilitator@60degree.com" />

      <!-- Specify a Subscribe button. -->
      <input type="hidden" name="cmd" value="_xclick-subscriptions">

      <!-- Set the terms of the regular subscription. -->
      <input type="hidden" name="currency_code" value="USD" />
      <input type="hidden" name="a3" value="100" id="planPrice" />
      <input type="hidden" name="p3" value="1" />

      <!-- Set recurring payments until canceled. -->
      <input type="hidden" name="src" value="1" />
      
      <input type="hidden" name="notify_url" value="<%= new_payment_url %>" />
      <input type="hidden" name="return" value="<%= user_url(current_user) %>" />
      <input type="hidden" name="cancel_return" value="<%= new_payment_url %>" />
      
      <input type="hidden" name="custom" id="custom" value="<%= current_user.id %>" />
      
      <!-- Display the payment button. -->
      <input type="image" name="submit" border="0" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" alt="PayPal - The safer, easier way to pay online">
      <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" />
    </form>
    <br />
  </div>
</div>
