= simple_form_for(@video) do |f|
  = render 'shared/error_messages', object: f.object
  .form-inputs
    = f.hidden_field :album_id, value: album.id
    = f.input :name
    
    = f.file_field :file_attachment
    %br
    %br
    #loading_img_for_video
      %img{src: "/assets/loader.gif", alt: "loading"}/      
    %p
      = f.button :submit, value: "Add Video/Music", class: "btn btn-primary"
