.album
  -if album.uploads.any?
    - album.uploads.each do|upload_img_name|
      .content
        = image_tag upload_img_name.file_attachment.url(:medium), alt: upload_img_name.file_attachment.url(:original)
        %span
          = upload_img_name.title
  - else
    .content
      = image_tag '/assets/medium-file-upload.jpg', alt: '/assets/file-upload.jpg'   
  /.descr
  /  = album.name
.profile_portfolio_delux  
  .album_title-single-profile
    = link_to album.name, album
  .album_author_name
    = render 'shared/user_thumb', user: album.user
  /.album_category
  /  = album.category.name
  .album_category
    = render 'shared/like_form', object: album, user: album.user 
