.portfolio_box_container{ :id => "portfolio_box-#{album.id}" }
  - if current_user == album.user
    .profile_edit_delete_portfolio_cont.align_right
      %span.edit_portfolio_pencil_cont
        = link_to edit_album_path(album) do
          %img{alt: "", src: "/assets/edit.png"}/  
      %span.delete_portfolio_cross_cont
        = link_to album_path(album), :method => :delete, :remote => true,  :disable_with => "×", :class => 'portfolio_box-delete' , :id => "portfolio_box-delete-#{album.id}" do 
          %img{alt: "", src: "/assets/cross.png"}/  

  .box.ajax-portfolio-detail-homepage-modal-trigger
    .albm-img{:data => "#{album.id}"}  
      - if !album.cover.nil?
        .content-profile
          = image_tag album.cover.url(:large)
      - else
        .content-profile
          = image_tag '/assets/missing-image-geniya.png', alt: '/assets/missing-image-geniya.png'
    - if album.user.kind == "user"
      .potrate-img
        = link_to album.name, album
      .like-comment-box  
        %p
          - @likers = album.likers(User)
          - @comments = album.comment_threads.where('parent_id IS NULL').order('created_at desc')
          %img{alt: "", height: "11", src: "/assets/heart_img.png", width: "12"}/
          %span
            = @likers.count
          /= render 'shared/like_form', object: album, user: album.user
        %p
          %img{alt: "", height: "11", src: "/assets/feed_icon1.png", width: "13"}/
          %span
            = @comments.count
      .add_comment
        = render 'shared/user_img', user: album.user, album: album
    - if album.user.plan == "deluxe"
      .deluxe_img
        %img{src: "/assets/deluxe_img.png"}/   
