%li.ajax-portfolio-detail-homepage-modal-trigger{:data => "#{album.id}"}
  .albm-img{:data => "#{album.id}", id:"portfolio_album_img", onclick: "javascript: open_album_modal(#{album.id})"}  
    -if !album.cover.nil?
      = image_tag album.cover.url(:large), alt: album.title  
    -else
      =image_tag '/assets/missing-image-geniya.png', width: "100%" 
  %p.album-name
    = link_to album.name, album
  -if signed_in?
    .likes-album
      = render 'shared/like_form', object: album, user: album.user
  -else
    .album-like-box  
      %p
        - @likers = album.likers(User)
        - @comments = album.comment_threads.where('parent_id IS NULL').order('created_at desc')
        %img{alt: "", height: "11", src: "/assets/heart_img.png", width: "12"}/
        %span
          = @likers.count
        /= render 'shared/like_form', object: album, user: album.user
      %p
        %img{alt: "", height: "11", src: "/assets/feed_icon1.png", width: "13"}/
        %span
          = @comments.count  
  
  %ul
    %li
      = render 'shared/portfolio_users', user: album.user
      .portf_like_cat 
        = album.category.name
