%li
  -if album.uploads.any?
    = image_tag album.uploads.first.file_attachment.url(:medium), title: album.name, width: "100%" 
  -else
    =image_tag '/assets/file-upload.jpg', width: "100%" 
  %p.album-name
    = link_to album.name, album
  %a.favourite{href: "#"} Add to favourite
  %ul
    %li
      = render 'shared/portfolio_users', user: album.user
      .portf_like_cat 
        = album.category.name
        = render 'shared/like_form', object: album, user: album.user 
