.profile_portfolio
  .album_cover
    -if album.uploads.any?
      = image_tag album.uploads.first.file_attachment.url(:medium), title: album.name, width: "100%" 
    -else
      =image_tag '/assets/file-upload.jpg', width: "100%" 
  .album_title
    = link_to album.name, album
  .album_author_name
    = render 'shared/user_thumb', user: album.user
  .album_category
    = album.category.name
  .album_category
    = render 'shared/like_form', object: album, user: album.user

  
