#like-count
  - liker = comment.likers(User)
  - you = false
  - main = Array.new
  - others = Array.new
  - liker.each do |user|
    - if current_user == user
      - you = true
    - elsif main.count < 2 and (current_user.confirmed_connected_users.include? user or current_user.followed_users.include? user)
      - main << user
    - else
      - others << user
  - if you == true
    = 'You'
  - if main.count > 0
    - if main.count == 1 and others.count == 0
      = ' and ' if you == true
      = link_to main.first.name, main.first
    - elsif main.count > 1 and others.count == 0
      - main.each_with_index do |user, index|
        - if index == 0
          = ', ' if you == true
        - else
          = ' and '
        = link_to user.name, user
    - else
      - main.each do |user|
        = ', ' if you == true
        =  link_to user.name, user
  - if others.count > 0
    - likers_text += ' and ' unless you == false and main.count == 0
    - likers_text += link_to others.count, current_user
    - if you == false and main.count == 0 and others.count == 1
      = ' person'
    - elsif you == false and main.count == 0 and others.count > 1
      = ' people'
    - elsif others.count == 1
      = ' other'
    - else
      = ' others'
  - unless you == false and main.count == 0 and others.count == 0
    - if main.count + others.count == 1 and you == false
      = " likes"
    - else
      = " like"
  = ' this ' + comment.class.name.downcase
  /
    - if current_user.likes?(comment)
      - if (liker.count==1) 
        %span.current-liker-name
          = "You"
      - else
        %span.current-liker-name
          = "You,"
      - liker.last(2).each do |commentliker|
        - liker_name = [commentliker.username]-[current_user.username]
        = link_to liker_name.join(""), commentliker
    - else
      - liker.last(2).each do |commentliker|
        - if (liker.count==1) 
          = link_to commentliker.username, commentliker
        - else 
          = link_to commentliker.username, commentliker
    - if (liker.count==0)
    - else
      - if (liker.count>=3)
        - if current_user.likes?(comment)
          = "and"
          = link_to liker.count-2
          = "other like this."
        - else
          = "and"
          = link_to liker.count-2
          = "other like this."
      - else
        = "like this."

