= simple_form_for(@company, {:autocomplete => 'off'}) do |f|
  = f.error_notification

  .form-inputs
    .company_name
      %label
        Company Name
        %span#company_require 
          *
      = f.input :name
    .company_job_title
      %label
        Title
        %span#company_require 
          *      
      = f.input :title, :autocomplete => :off
    .work_period
      .start_period
        %label
          Start Year          
        = select_month(Date.today, :field_name => 'startmonth', :prefix => 'company', prompt: 'Choose month', :default => 'Choose Month')
        = f.select :startyear, (Time.zone.now.year - 70)..(Time.zone.now.year + 1)
      %span#time_period_divider 
        %b
          _
      .end_period
        %label
          End Year          
        = select_month(Date.today, :field_name => 'endmonth', :prefix => 'company')
        = f.select :endyear, (Time.zone.now.year - 40)..(Time.zone.now.year + 10)
      %span#current_status
        Present 
    .current_status
      %span
        = f.check_box :status, {}, true, false
      %span
        I currently work here
    .company_des
      %label
        Description 
      = f.text_area :description, placeholder: "Comapny Description..."
    .company_link
      %label
        Company link      
      = f.input :companylink

  .form-actions
    = f.button :submit, value: "Save"
