%p.user_address{ :id => "current_address-#{@user.locations.last.id}" }
  - if @user.locations.last.street_address == ''
    %span
  - else
    %span
      /%a{href:"/locations/"+"#{@user.locations.last.id}"}
      = @user.locations.last.street_address
      ,
  %span
    /%a{href:"/cities/"+"#{@user.locations.last.city.id}"}
    = @user.locations.last.city.name
    ,
  %span
    /%a{href:"/states/"+"#{@user.locations.last.city.state.id}"}
    = @user.locations.last.city.state.name
    ,
  %span
    /%a{href:"/countries/"+"#{@user.locations.last.city.state.country.id}"}
    = @user.locations.last.city.state.country.name 
  - unless @user.locations.last.pin.nil?
    %span
      ,
      = @user.locations.last.pin.code
  - if (current_user == @user) && signed_in?
    = link_to "×", location_path(@user.locations.last.id), :method => :delete, :remote => true,  :disable_with => "×", :class => 'address-delete' , :id => "address-delete-#{@user.locations.last.id}" 


:javascript
  $(".address-delete").click(function(){
   var delcomment = confirm("Do you want to delete Address ?");
   if(delcomment == true)
   {
   var delete_comment_id=this.id.split("-")[2]
     $("#current_address-"+delete_comment_id).hide('slow');
     return true;
   }
   else
     {$("#current_address-"+delete_comment_id).show();
     return false;}
   });                   
