= simple_form_for(@education, remote: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :institute_name
    = f.input :course_name
    .edu_start_date
      %label
        Start Year
      = f.select :start_date, (Time.zone.now.year - 70)..(Time.zone.now.year + 1)
    .edu_end_date
      %label
        End Year    
      = f.select :end_date, (Time.zone.now.year - 40)..(Time.zone.now.year + 10)
  .form-actions-edu
    = f.button :submit , value: "Add Education", id: "edu"
    /= button_tag "Cancel", id: "cancel-edu", type:"button"
