= simple_form_for(@education, remote: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :institute_name
    = f.input :course_name
    .edu_start_date
      = f.input :start_date, as: :select, collection: Date.current.year.downto(1940), include_blank: false
    .edu_end_date
      = f.input :end_date, as: :select, collection: Date.current.year.downto(1940), include_blank: false
  .form-actions-edu
    = f.button :submit , value: "Add Education", id: "edu"
