<div class="container">
  <div class="upload_content">
  <%= form_for Multiupload.new, :remote => true, :html => {:multipart => true, :id => "fileupload" } do |f| %>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
      <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Add files...</span>
          <%= file_field_tag 'multiupload[multiupload]', :multiple => true %>
        </span>
        <button type="submit" class="btn btn-primary start">
          <i class="icon-upload icon-white"></i>
          <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
          <i class="icon-ban-circle icon-white"></i>
          <span>Cancel upload</span>
        </button>
        <button type="button" class="btn btn-danger delete">
          <i class="icon-trash icon-white"></i>
          <span>Delete</span>
        </button>
        <input type="checkbox" class="toggle">
      </div>
      <div class="span5">
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active fade">
          <div class="bar" style="width:0%;"></div>
        </div>
      </div>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>
  <% end %>
</div>
</div>
<script>
  var data = {
    user_id: <%= current_user.id %>,
    album_id: '<%= album_id %>'
  };

  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name">
      <span>{%=file.name%}</span> 
      <span><%= text_field_tag "multiupload[multiupload_file_title]",  nil, :placeholder => 'Enter title for picture ...'%></span>
      <span><%= text_area_tag "multiupload[multiupload_file_desc]", nil, :placeholder => 'Enter description for picture ...'%>
      <%= hidden_field_tag "multiupload[user_id]", "{%=data.user_id%}" %>
      <%= hidden_field_tag "multiupload[album_id]", "{%=data.album_id%}" %>
    </td><td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="title"><span>{%=file.multiupload_file_title%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.url%}" height="30" width="30"></a>
          {% } %}</td>
        <td class="name">
          <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
        </td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="title"><span>{%=file.multiupload_file_title%}</span></td>
        <td colspan="2" ></td>
        {% } %}
      <td class="delete">
        <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="icon-trash icon-white"></i>
          <span>{%=locale.fileupload.destroy%}</span>
        </button>
        <input type="checkbox" name="delete" value="1">
      </td>
    </tr>
    {% } %}
</script>

<script type="text/javascript" charset="utf-8">
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload({
          done: function (e, data) {
            $.getJSON($('#fileupload').prop('action') + '?album_id=<%= album_id %>', function (files) {
              var fu = $('#fileupload').data('blueimpFileupload'),
                template;
              fu._adjustMaxNumberOfFiles(-files.length);
              template = fu._renderDownload(files)
              $('#fileupload .files').html(template)
              // Force reflow:
              fu._reflow = fu._transition && template.length &&
                template[0].offsetWidth;
              template.addClass('in');
              $('#loading').remove();
              
            //  $.get('/albums/' + <%= album_id %> + '.js', {}, function(data){
                
             // });

              //$.each(data.result.files, function (index, file) {
//$('.album').append('<div class="fleft"><ul class="gallery clearfix"></ul></div><ul class="gallery clearfix"><li><a title="" rel="prettyPhoto[mixed]" href="'+ file.url +'"><img src="'+ file.url +'" alt="'+ file.name +'"></a></li></ul><ul id="album-upload-content"><li id="album-upload-title">'+ file.title +'</li><li id="album-upload-desc">'+ file.description +'</li></ul>')
              //});
              
              //console.log('ggg')
              setTimeout(function(){
                window.location.href = "/albums/" + <%= album_id %>;
              }, 10);
              
            });

          }
      });
      //
      // Load existing files:
      $.getJSON($('#fileupload').prop('action') + '?album_id=<%= album_id %>', function (files) {
        var fu = $('#fileupload').data('blueimpFileupload'),
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        //console.log(files);
        template = fu._renderDownload(files)
          .prependTo($('#fileupload .files'));
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
        //console.log('existing')
      });

  });
</script>
