= form_for @headshot, remote: true, :html => { :multipart => true, id: :profile_img_form  }  do |f|
  = f.hidden_field :album_id, value: current_user.profile_pic_album.id
  = f.hidden_field :upload_type, value: current_user.profile_pic_album.kind
  = f.hidden_field :name, value: current_user.name
  = f.hidden_field :special_attribute, value: "headshot"
  .field
    = f.file_field :file_attachment, id: "profile_img"
  .actions
    = f.submit 'Upload Profile Pic', id: "upload_profile_pic"
    
    
