= form_for(@update) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.text_area :text, placeholder: "Share an update..."
    = f.hidden_field :receiver_user_id, value: current_user.id
  %select.public
    %option Share with: Public
  = f.submit "Share", class: "pubBtn"
