= simple_form_for(@location, remote:true) do |f|
  = f.error_notification
  
  #dd
  .form-inputs
    #Country_name
      %span#state_label
        Please Select Country:
    %p  
      %select#location_old_country_id.select.required{name: "location[country_id]"}
        %option{value: "null"}   Select Country
        -c = Country.all
        - c.each do|c|
          %option{value: "#{c.id}"}   #{c.name}
        %option{value: "0"}   Add New Country      
    #form_country_container
      #new_country_name
        %span#state_label
          Enter Country Name:
        = text_field(:location, :new_country, placeholder: 'Enter Country Name here:')    

      #state_name
        %span#state_label
          Select State/Province:  
        %p#state_slect_box

      #user_city_name
        %span#state_label
          Select City:  
        %p#city_slect_box

      #user_pin_code
        %span#state_label
          Select Pin/Zipcode:  
        %p#pin_slect_box

      #new_state_name
        %span#state_label
          Enter State/Province Name:
        = text_field(:location, :new_state, placeholder: 'Enter state Name here:')
        
        
      #new_city_name
        %span#state_label
          Enter City Name:
        = text_field(:location, :new_city, placeholder: 'Enter city Name here:')       

      #new_pin_code
        %span#state_label
          Enter Pin/Zipcode:
        = text_field(:location, :new_pin, placeholder: 'Enter Pin/zip code here:')
         
      #street_address
        %span#state_label
          Enter Street Address:  
        %p
        = text_field(:location, :street_address, placeholder: 'Please Enter Your Street address here')

      /#longitude_address
      /  %span#state_label
      /    Longitude:  
      /  %p
      /  = text_field(:location, :longitude, placeholder: 'Please Enter longitude Information')  


      /#latitude_address
      /  %span#state_label
      /    Latitude:  
      /  %p
      /  = text_field(:location, :latitude, placeholder: 'Please Enter latitude Information') 


      #address_status
        #add_status
          %span#state_label
            Set as Current Address:  
        #current_address
          %span
            Yes
          = f.radio_button :status, "current", :checked => true         
        #not_current
          %span
            No          
          = f.radio_button :status, "old"

      = f.hidden_field :user_id, value: current_user.id          
        
      #country_save_btn
        = f.button :submit, value:"Save", id:"aff_add_btn"
:javascript

  $('#location_state_id').change(function(){
    var cunt_data = $(this).val()
    $.get("/states/"+ cunt_data+ ".js", {}, function(data) {
      callback(data)
    });    
  });


