.right
  = render 'shared/edit_delete_buttons', obj: advertisement
.makeup_sec{ :id => "ads_box-#{advertisement.id}" }
  .makeUp
    = image_tag advertisement.file_attachment.url(:medium)
  .make_comtact
    %p 
      = advertisement.title
    - if (advertisement.link != '')
      %a{href: "#{advertisement.link}", target: "_blank"}
        Contact Now
    %span#view_detail_link
      = link_to 'View detail', advertisement
