.wrapper
  %h1 Listing advertisements

  %table
    %tr
      %th Title
      %th Slogan
      %th
      %th
      %th

    - @advertisements.each do |advertisement|
      %tr
        %td= advertisement.title
        %td= advertisement.slogan
        %td= link_to 'Show', advertisement
        %td= link_to 'Edit', edit_advertisement_path(advertisement)
        %td= link_to 'Destroy', advertisement, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Advertisement', new_advertisement_path
