.inneContaineralbum
  #album-cont.wrapper
    #content-container
      #project-main.left
        #project-header-main.work-header-main.work-header
          .color_white 
            = @advertisement.category.name
            advertisement
          %h1.color_white
            = @advertisement.title

        #project-comments.video
          #contact-us-container
            %h3 
              = @advertisement.slogan
            %p 
              = @advertisement.description
            %a{href: "#{@advertisement.link}", target:"_blank"}
              = @advertisement.link

          #ad-detail-cover-container
            = image_tag @advertisement.file_attachment.url(:large)
        = render 'shared/detail_controls', obj: @advertisement
      #project-sidebar.right
        .sidebar-block.sidebar-owner
          .sidebar-label
            Advertisement
            by  
          .sidebar-content.cfix
            #owner-icon-info.cfix
              #owner-icon.user-img-50.left
                - if @advertisement.user.headshot
                  = image_tag @advertisement.user.headshot.file_attachment.url(:thumb)
                -else
                  =image_tag '/assets/missing.png' 
              #owner-info.left
                #owners.cfix
                  #owner.text-ellipsis
                    = link_to @advertisement.user.name, @advertisement.user 
                  - if (current_user != @advertisement.user) && signed_in?    
                    %br
                    %button.send_message_button.btn.btn-primary.demo{"data-toggle" => "modal", "data"=> @advertisement.user.id, "onclick"=>"javascript:open_chat_modal(#{@advertisement.user.id})"} Send message
            #owner-buttons-container.clear
              .follow-btn
                - if signed_in? 
                  = render 'shared/follow_form'
              .connect-btn
                - if signed_in? 
                  = render 'shared/connect_form'

        .sidebar-block
          .project-published.tiny-text
            Published: 
            = time_ago_in_words(@advertisement.created_at)
            ago
