%h2
  = @event.title
%p
  = @event.description
%p
  %b Start:
  = @event.start
%p
  %b End:
  = @event.end
%p
  %b Location:
  = @event.location

- if signed_in? and current_user == @event.user
  %p
    %b Privacy:
    = @event.privacy
  = link_to 'Edit', edit_event_path(@event)
  \|
  = link_to 'Delete', @event, :method => :delete, :data => { :confirm => 'Are you sure to delete this event?' }
