.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      - if signed_in? and current_user == @event.user
        = link_to 'Edit', edit_event_path(@event), class: 'btn btn-success'
        = link_to 'Delete', @event, :method => :delete, :data => { :confirm => 'Are you sure to delete this event?' }, class: 'btn'
      - if signed_in?
        = link_to 'My profile', current_user, class: 'btn'
  .span10.spaced-right
    %h1 Event

    %p
      - if @event.user.headshot
        = image_tag @event.user.headshot.file_attachment.url(:thumb), width: '50px'
      = link_to @event.user.name, @event.user
    %h3
      = @event.title
    %p
      = @event.description
    %p
      %b Start time:
      = @event.start
    %p
      %b End time:
      = @event.end
    %p
      %b Location:
      = @event.location
    - if signed_in? and current_user == @event.user
      %p
        %b Privacy:
        = @event.privacy
