= tinymce_assets
= simple_form_for(@bussiness) do |f|
  = f.error_notification

  .form-inputs
    %label
      Summary
    = f.text_area :summary, class: "tinymce"
    %br
    %label
      Agenda
    = f.text_area :agenda, class: "tinymce"
    %br
    %label
      Services
    = f.text_area :services, class: "tinymce"
    %br
    %br
    %label
      About Us
    = f.text_area :about, class: "tinymce"
    %br
    %br
    %label
      Industry
    = f.text_area :industry, class: "tinymce"
    %br
    %br
    %label
      Website Link
    = f.text_area :website, class: "tinymce"
    %br
    %br
    %label
      Contact Details
    = f.text_area :contact, class: "tinymce"
    %br
    %br
    %label 
      Headquarters
    = f.text_area :headquarter, class: "tinymce"
    %br
    %br
    %label
      Company Size
    = f.text_area :companysize, class: "tinymce"
    %br
    %br
    %label
      Company Establish
    = f.text_area :founded, class: "tinymce"
    %br
    %br
    %label
      Company Logo
    = f.file_field :file_attachment
    %br
    %br
    %label
      Please Give Complete link
    = f.input :facebook_link, placeholder: "for example https://www.facebook.com/your-bussiness-page-name/" 
    %br
    %label
      Please Give Complete link 
    = f.input :youtube_link, placeholder: "for example https://www.youtube.com/your-bussiness-page-name/"         
    %br
    %label
      Please Give Complete link 
    = f.input :google_link, placeholder: "for example https://www.google-plus.com/your-bussiness-page-name/"
    %br
    %label
      Please Give Complete link 
    = f.input :twitter_link, placeholder: "for example https://www.twitter.com/your-bussiness-page-name/"      
  .form-actions
    = f.button :submit
= tinymce
