= tinymce_assets
= simple_form_for(@bussiness) do |f|
  = f.error_notification

  .form-inputs
    %label
      Business Tagline
    = f.text_area :tagline, class: "tinymce"
    %br
    %label
      Summary
    = f.text_area :summary, class: "tinymce"
    %br
    %label
      Agenda
    = f.text_area :agenda, class: "tinymce"
    %br
    %label
      Services
    = f.text_area :services, class: "tinymce"
    %br
    %br
    %label
      About Us
    = f.text_area :about, class: "tinymce"
    %br
    %br
    %label
      Industry
    = f.text_area :industry, class: "tinymce"
    %br
    %br
    %label
      Please Give Complete Website link 
    = f.input :website, placeholder: "for example https://www.geniya.net/", id: "company_website_link"
    %br
    %br
    %label
      Contact Details
    = f.text_area :contact, class: "tinymce"
    %br
    %br
    %label 
      Headquarters
    = f.text_area :headquarter, class: "tinymce"
    %br
    %br
    %label
      Company Size
    = f.text_area :companysize, class: "tinymce"
    %br
    %br
    %label
      Company Establish
    = f.text_area :founded, class: "tinymce"
    %br
    %br
    /%label
    /  Company Logo
    /= f.file_field :file_attachment
    %br
    %br
    %label
      Please Give Complete link
    = f.input :facebook_link, placeholder: "for example https://www.facebook.com/your-business-page-name/" 
    %br
    %label
      Please Give Complete link 
    = f.input :youtube_link, placeholder: "for example https://www.youtube.com/your-business-page-name/"         
    %br
    %label
      Please Give Complete link 
    = f.input :google_link, placeholder: "for example https://www.google-plus.com/your-business-page-name/"
    %br
    %label
      Please Give Complete link 
    = f.input :twitter_link, placeholder: "for example https://www.twitter.com/your-business-page-name/"      
    = f.button :submit, value: "Submit", class:"btn btn btn-large btn-primary"
= tinymce
