= simple_form_for(@menuitem) do |f|
  = f.error_notification

  .form-inputs
    %label
      Select Category
    = collection_select(:menuitem, :menucategory_id , current_user.menucategories.all, :id, :name)
    = f.input :name
    = f.input :price
    = f.input :description

    = f.button :submit, value: "Submit", class:"btn btn btn-large btn-primary"
