.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      = link_to 'My profile', current_user, class: 'btn'
  - if current_user.menuitems.any?
    .span10.min500
      %h1 Offering Services
      .feedback_listing
        %table.table.table-bordered
          %tr
            %th Name
            %th Price
            %th Description
            %th Operations

          - current_user.menuitems.each do |menuitem|
            %tr
              %td= menuitem.name
              %td= menuitem.price
              %td= menuitem.description
              %td= link_to 'Show', menuitem
              %td= link_to 'Edit', edit_menuitem_path(menuitem)
              %td= link_to 'Destroy', menuitem, :method => :delete, :data => { :confirm => 'Are you sure?' }

        %br
        = will_paginate

  - else  
    .span10.min500
      %h1 Please add Menuitems 

