.wrapper
  .news_feeds
      
.wrapper
  .row-fluid.spaced-top
    .span2.spaced-left
      .btn-group.btn-group-vertical.btn-block
        = link_to 'My Profile', current_user, class: 'btn'
        = link_to 'Back', menuitems_path, class: 'btn'
.detail_form_container
  %h1
    Offer Service Detail

  %h3
    Name:
    = @menuitem.name
  %h4
    Price:
    = @menuitem.price
  %h5
    Description:
    = @menuitem.description

