.row-fluid.spaced-top
  .span1.spaced-left
    .btn-group.btn-group-vertical.btn-block
      /= link_to 'My events', events_path, class: 'btn'
  .span10
    %h1 Conversations

    .center_align.full_width
      %table.table.table-bordered
        %tr
          %th User
          %th Sent/Received
          %th Message
          %th Status

        - displayed_users = Array.new
        - @chats.each do |chat|
          - other_user = (chat.user == current_user) ? chat.reciever : chat.user
          - unless displayed_users.include?(other_user)
            - displayed_users << other_user
            %tr{:class => ("unread_chat" if ((chat.status == 'unread') and  (chat.user != current_user)))}
              %td.text_left
                %a.send_message_button.demo{"data-toggle" => "modal", "data"=> other_user.id, "onclick"=>"javascript:open_chat_modal(#{other_user.id})"}
                  - if other_user.headshot
                    = image_tag other_user.headshot.file_attachment.url(:medium), width: "80px", height: "80px"
                  - else
                    = image_tag '/assets/missing.png', width: "80px", height: "80px"
                  = other_user.name
                = link_to "Send Message", "#", class: "btn btn-success btn-xs start-coversation",
"data-sid" => current_user.id, "data-rip" => other_user.id, "onclick"=>"javascript:open_conversation(event)"   
              %td= (chat.user == current_user) ? "->" : "<-"
              %td.text_left= chat.message
              %td= chat.status

      %br
      - if current_user.connected_users.any?
        /= link_to 'New Chat among connections', new_chat_path
