%li.isotope-item.ajax-portfolio-detail-homepage-modal-trigger 
  .black_square
  .albm-img{:data => "#{album.id}"}
    -if album.multiuploads.any?
      - album.multiuploads.last(1).each do|upload_img_name|
        = image_tag upload_img_name.multiupload.url(:original), alt: upload_img_name.multiupload_file_name
    -else
      =image_tag '/assets/missing-image-geniya.png', title: album.name    
  .trendingInfo.isotopeSummary
    - a = album.name
    %h6.aqua{:id => "#{album.category.slug}"}
      = link_to album.category.name.sub(' ', '/'), '/portfolios/'+ album.category.slug
    %h4
      = link_to album.title, album
    .isotopeDetailed
      %p.description #{album.description}
    
      
      
                
