- provide(:title, "Geniya.net -  Social networking website")
- provide(:description, "Geniya is a social networking website where users can content market themselves through a structured eye catching portfolio base (view portfolio and Post portfolio). Users can build professional relationships, create opportunity and provide services in all occupational industries including fashion, culinary, entertainment, fitness and more.")
- provide(:keywords, "Geniya, Social networking sites, fashion, culinary, entertainment, fitness")
- if signed_in?
  .innerBenner
    .wrapper
      .news_feeds
        %a.text{href: "/"}
          %h2
            News
            %span Feed
          %p Be bold Be Seen Be Successful
  .inneContainer
    .wrapper
      .innerLeft_section
        .shere_with
          .user_data
            .user_info
              = render 'shared/feed_img'
          .user_updates_form
            = render 'shared/update_form'
        
        .user_updates_ajax
          %img{alt: "slider", src: "/assets/loader.gif"}/
        .user_description
          /= @sql
          - if @activities.any?
            %ol.updates#feed_cont
              - @activities.each do |activity|
                = render activity 
            #infinite-scrolling
              = will_paginate @activities
          - else
            %h3
              Follow some professionals to get news feeds
            = link_to 'Browse Top Portfolios', '/portfolios', class: 'btn btn-large btn-primary'

      .inner_rightSection
        /#home_control_section.home_control_section
        /  .bg_buttan_feed
        /    Controls
        /  %a.btn{href: "/users/"+current_user.slug+"/profile_edit"}
        /    Edit Profile          
        /  - if current_user.plan != 'visitor' && current_user.plan != 'trial'
        /    = link_to 'Create organization', new_organization_path, class: 'btn'
        /  - if current_user.plan == 'trial'
        /    = link_to 'Create advertisement', new_advertisement_path, class: 'btn'
        /    - if current_user.advertisements.any?
        /      = link_to 'My advertisements', advertisements_path, class: 'btn'          
        /  - if current_user.plan != 'visitor'
        /    - if current_user.plan == 'deluxe' or current_user.plan == 'admin'
        /      = link_to 'Post job', new_job_path, class: 'btn'
        /      - if current_user.jobs.any?
        /        = link_to 'My posted jobs', jobs_path, class: 'btn'
        /      = link_to 'Create advertisement', new_advertisement_path, class: 'btn'
        /      - if current_user.advertisements.any?
        /        = link_to 'My advertisements', advertisements_path, class: 'btn'

        - if @jobs.any?
          .add_sec
            .bg_buttan_job
              Jobs
            .ads-box
              - @jobs.each do |job|
                = render job

        - if @advertisements.any?
          .add_sec
            .bg_buttan_job
              Advertisements
            .ads-box
              - @advertisements.each do |advertisement|
                = render advertisement
            
        
- else
  .index_user_slider
    .wrapper_banner
      - i = 0
      - @top_users.each do |user|
        - if !user.featureimg.nil?
          - i +=1
          %a{href:"/users/"+"#{user.slug}"}
            .index_user_slide_item
              = image_tag user.featureimg.feature_img.url(:large)
        - break if i>=6
      /%img{alt: "slider", src: "/assets/slide1.jpg"}/
      .clear
  .slogan
    .wrapper_c_not_required
      %h1 
        Get Going With Geniya -
        %span "Be Successfully"
  .choose
    .wrapper_c
      .view_portfolio
        %img{alt: "", src: "/assets/view_portfolio.png"}/
        %a.text{href: '/portfolios'}
          VIEW
          %span Portfolios
          %i Seek and Hire
      .post_portfolio
        %img{alt: "", src: "/assets/post_portfolio.png"}/
        %a.text{href: '/signup'}
          POST
          %span Portfolios
          %i Promote Yourself
      .clear
  .section_heading
    .wrapper_c
      .left_section
        Hot in Trend from
        %a{href:"/portfolios"}
          All Categories
      .right_section Be Bold Be Seen Be Successful
      .clear
  %section.main_container
    .wrapper_c
      .span690.inline_block
        %ul#editorsPicks
          - rendered_albums = Array.new
          - until rendered_albums.count >= @per_page or rendered_albums.count >= @albums.count  do
            - @categories.each do |cat|
              - break if rendered_albums.count >= @per_page
              - @albums.each do |album|
                - if album.category_id == cat.id and !rendered_albums.include? album
                  = render 'album_home_thumb', album: album
                  - rendered_albums << album
                  - break
      .span315.offset1.inline_block
        .discover
          Discover Geniya
          %ul.discover_nav
            %li
              %a{href: "/portfolios"} All
            - @categories.each do |category|
              %li
                = link_to category.name.sub(' ', '/'), '/portfolios/'+ category.slug
          .clear
          .search
            = form_tag(portfolios_path, method: :get) do
              %input{name: 'q', placeholder: "Enter keyword", type: "text", class: "srch-portf"}
              = submit_tag 'Go', class: 'go'
          /.ageFilter
          /  #ageRange
          /    .currentRange{style: "left: 4.5px; right: 0px;"}
          /    .leftGrip.grip{"data-value" => "19", style: "left: 4.5px;"}
          /      %span 19
          /    .rightGrip.grip{"data-value" => "51", style: "left: 260px;"}
          /      %span 50+
        .widget.video
          .title Top Viewed
          .block
            -if Video.any?
              - if ["video/mpeg", "video/x-msvideo", "video/3gpp"].include? @video.file_attachment.content_type
                %object{ data: "#{@video.file_attachment.url}", width: "303", height: "230", autoplay: "false", autoStart: "0"}
                  %embed{ src: "#{@video.file_attachment.url}", width: "303", height: "230", autoplay: "false", autoStart: "0"}
              - elsif ["video/mp4", "video/ogg", "video/webm", "video/x-flv"].include? @video.file_attachment.content_type
                %video{ width: "303", height:"230", poster:"", controls:"controls", preload:"none" }
                  %source{type:"#{@video.file_attachment.content_type}", src:"#{@video.file_attachment.url}"}
                  %object{width:"303", height:"230", type:"application/x-shockwave-flash", data:"#{@video.file_attachment.url}", autoplay: "false", autoStart: "0"}
                    %embed{ src: "#{@video.file_attachment.url}", width: "303", height: "230", autoplay: "false", autoStart: "0"}              
              .pull_inside1
                %span.vid_name
                  %a{href: "/videos/"+"#{@video.slug}"}
                    = @video.name 
              %span.view 
                = @video.impressions_count
                views        
            - else
              = video_tag("/assets/big_buck_bunny.webm", height: '230', width: '303')
              .pull_inside1
                %span.vid_name
                  %a{href:"/geniyavideo"}
                    Geniya Video 
              %span.view 
                0 views  
        .widget.tab
          .block
            %ul.tab_nav
              %li.active
                %a#recent_portfolio_link  Recent
              %li
                %a#popular_portfolio_link Popular
              %li.last_most_dissucss
                %a#comment_portfolio_link Most Discussed
              .clear
            %ul.tab_content#recent_portfolio
              - fetch_recent_albums = Album.where(kind: 'portfolio').limit(2).order(created_at: :desc)
              - if fetch_recent_albums.any?
                - fetch_recent_albums.each do |recent_album_detail|
                  %li
                    %a{href:"/users/"+"#{recent_album_detail.user.slug}"}
                      .imagecol
                        - if recent_album_detail.user.headshot
                          = image_tag recent_album_detail.user.headshot.file_attachment.url(:thumb)
                        -else
                          =image_tag '/assets/missing.png'    
                    .txtcol
                      %a{href:"/albums/"+"#{recent_album_detail.slug}"}
                        %span.heading
                          = recent_album_detail.name
                      .time
                        = recent_album_detail.created_at
            %ul.tab_content#popular_portfolio
              - fetch_recent_albums = Album.where(kind: 'portfolio').limit(2).order(impressions_count: :desc)
              - if fetch_recent_albums.any?
                - fetch_recent_albums.each do |recent_album_detail|
                  %li
                    %a{href:"/users/"+"#{recent_album_detail.user.slug}"}
                      .imagecol
                        - if recent_album_detail.user.headshot
                          = image_tag recent_album_detail.user.headshot.file_attachment.url(:thumb)
                        -else
                          =image_tag '/assets/missing.png'    
                    .txtcol
                      %a{href:"/albums/"+"#{recent_album_detail.slug}"}
                        %span.heading
                          = recent_album_detail.name
                      .time
                        = recent_album_detail.created_at
            %ul.tab_content#commented_portfolio
              - fetch_recent_albums = Album.where(kind: 'portfolio').limit(2).order(comment_count: :desc)
              - if fetch_recent_albums.any?
                - fetch_recent_albums.each do |recent_album_detail|
                  %li
                    %a{href:"/users/"+"#{recent_album_detail.user.slug}"}
                      .imagecol
                        - if recent_album_detail.user.headshot
                          = image_tag recent_album_detail.user.headshot.file_attachment.url(:thumb)
                        -else
                          =image_tag '/assets/missing.png'    
                    .txtcol
                      %a{href:"/albums/"+"#{recent_album_detail.slug}"}
                        %span.heading
                          = recent_album_detail.name
                      .time
                        = recent_album_detail.created_at

          .clear


        .widget.social
          /%iframe{allowtransparency: "true", frameborder: "0", scrolling: "no", src: "//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FGeniyaNetwork&width&layout=box_count&action=like&show_faces=true&share=false&height=65", style: "border:none; overflow:hidden; height:65px;"}   
        
          %a{href: "https://twitter.com/GeniyaNetwork", target: "_blank"}
            .facebook_div
              %img{alt: "", src: "assets/twitter_folloe.jpg"}/
              %span#twitter_follower
              %span.social_count
                Followers               
          %a{href: "https://www.facebook.com/GeniyaNetwork", target: "_blank"}
            .facebook_div
              %img{alt: "", src: "assets/facebook.jpg"}/
              %span#facbook_count
              %span.social_count
                Fans
          %a{href: "https://www.youtube.com/channel/UCaAogg8feczTPSpvcd-T6dg", target: "_blank"}
            .facebook_div
              %img{alt: "", src: "assets/utube.jpg"}/        
              %span#subscribe_youtube
              %span.social_count
                Subscribers        
        .widget.newsletter
          .title Subscribe to our newsletter
          .block
            .pull_inside2
              /%input{placeholder: "Your Email", type: "text"}/
              /%input.subscribe{type: "button", value: "Subscribe"}/
              = simple_form_for(@subscription, remote: true, url: '/subscriptions.json') do |f|
                = f.error_notification

                .form-inputs
                  = f.hidden_field :name, value: 'newsletter'
                  = f.hidden_field :status, value: 'subscribed'
                  = f.input :email, placeholder: 'Your email'

                .form-actions-subscribe
                  = f.button :submit, value: 'Subscribe'
                  #response_subscription
              .clear
#ajax-portfolio-detail-homepage.modal.fade.modal-scrollable{style: "display: none;", tabindex: "-1"}
