- if signed_in?
  .innerBenner
    .wrapper
      .news_feeds
        %a.text{href: "/"}
          %h2
            News
            %span Feeds
          %p Be bold befocused be seen
  .inneContainer
    .wrapper
      .innerLeft_section
        .shere_with
          .user_data
            .user_info
              = render 'shared/user_info'
          .user_updates_form
            = render 'shared/update_form'
        .user_description
          = render 'shared/feed'   
      .inner_rightSection
        .add_sec
          /= render 'shared/advertise_form', user: current_user
- else
  .slider
    %img{alt: "slider", src: "/assets/slide1.jpg"}/
  .slogan
    .wrapper_c
      Get Going with Geniya -
      %span "Be Successful"
  .choose
    .wrapper_c
      .view_portfolio
        %img{alt: "", src: "/assets/view_portfolio.png"}/
        %a.text{href: '/portfolios'}
          VIEW
          %span Portfolios
          %i Seek and Hire
      .post_portfolio
        %img{alt: "", src: "/assets/post_portfolio.png"}/
        %a.text{href: '/signup'}
          POST
          %span Portfolios
          %i Promote Yourself
      .clear
  .section_heading
    .wrapper_c
      .left_section
        Hot in Trend from
        %a All Categories
      .right_section Be Bold Be Focused Be Seen
      .clear
  %section.main_container
    .wrapper_c
      .span690.inline_block
        %ul#editorsPicks
          #ajax-portfolio-detail-homepage.modal.fade.modal-scrollable{style: "display: none;", tabindex: "-1"}
          - @albums.each do|album|
            = render 'album_home_thumb', album: album
        #infinite-scrolling
          = will_paginate @albums
      .span315.offset1.inline_block
        .discover
          Discover Geniya
          %ul.discover_nav
            %li
              %a{href: ""} Home
            - @categories.each do |category|
              %li
                = link_to category.name.sub(' ', '/'), '/portfolios/'+ category.slug
          .clear
          .search
            = form_tag(portfolios_path, method: :get) do
              %input{name: 'q', placeholder: "Enter keyword", type: "text", class: "srch-portf"}
              = submit_tag 'Go', class: 'go'
          /.ageFilter
          /  #ageRange
          /    .currentRange{style: "left: 4.5px; right: 0px;"}
          /    .leftGrip.grip{"data-value" => "19", style: "left: 4.5px;"}
          /      %span 19
          /    .rightGrip.grip{"data-value" => "51", style: "left: 260px;"}
          /      %span 50+
        .widget.video
          .title Top Viewed
          .block
            -if Video.any?
              - if ["video/mpeg", "video/x-msvideo", "video/3gpp"].include? @video.file_attachment.content_type
                %object{ data: "#{@video.file_attachment.url}", width: "303", height: "230", autoplay: "false"}
                  %embed{ src: "#{@video.file_attachment.url}", width: "303", height: "230"}
              - elsif ["video/mp4", "video/ogg", "video/webm", "video/x-flv"].include? @video.file_attachment.content_type
                %video{ width: "303", height:"230", poster:"poster.jpg", controls:"controls", preload:"none" }
                  %source{type:"#{@video.file_attachment.content_type}", src:"#{@video.file_attachment.url}"}
                  %object{width:"303", height:"230", type:"application/x-shockwave-flash", data:"#{@video.file_attachment.url}"}
                    %embed{ src: "#{@video.file_attachment.url}", width: "303", height: "230"}              
              .pull_inside1
                %span.vid_name
                  = @video.name 
              %span.view 
                = @video.impressions_count
                views        
        
        .widget.newsletter
          .title Subscribe to our newsletter
          .block
            .pull_inside2
              /%input{placeholder: "Your Email", type: "text"}/
              /%input.subscribe{type: "button", value: "Subscribe"}/
              = simple_form_for(@subscription, remote: true, url: '/subscriptions.json') do |f|
                = f.error_notification

                .form-inputs
                  = f.hidden_field :name, value: 'newsletter'
                  = f.hidden_field :status, value: 'subscribed'
                  = f.input :email, placeholder: 'Your email'

                .form-actions-subscribe
                  = f.button :submit, value: 'Subscribe'
                  #response_subscription
              .clear
