= simple_form_for(@affiliation, remote:true) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :user_id
    /#org_name
    /  %label
    /    %b
    /      Organization Name
    = f.hidden_field :organization_id, value: @organization.id
    #profession_name
      %label
        %b
          Profession
    = render 'affiliations/select_profession', c: @organization.category
    .aff_time_period
      .aff_start_period
        #aff_start_date
          %label
            %b
              Start Date    
        .datepicker
          = text_field(:affiliation, :start_date)
          /= f.select :start_date, (Time.zone.now.year - 70)..(Time.zone.now.year + 1)
      .aff_divider
        _
      .aff_end_period
        #aff_end_date
          %label
            %b
              End Date    
        .datepicker
          = text_field(:affiliation, :end_date)
          /= f.select :end_date, (Time.zone.now.year - 40)..(Time.zone.now.year + 10)
      %span#aff_work_status
        %b
          Present
    .aff_status
      %label
        %b
          Currently Work here:
      = check_box("affiliation", "status", {}, "yes", "no")

  .aff_btn
    = f.button :submit, value:"Save", id:"aff_add_btn"

:javascript
  $('#affiliation_start_date').datetimepicker({
    format: 'yyyy-MM-dd',
    pickTime: false
  });    
