= simple_form_for(@affiliation, remote:true) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :user_id
    /#org_name
    /  %label
    /    %b
    /      Organization Name
    = f.hidden_field :organization_id, value: @organization.id
    #profession_name
      %label
        %b
          Role in organization
    = render 'affiliations/select_profession', c: @organization.category
    .aff_time_period
      .aff_start_period
        #aff_start_date
          %label
            %b
              Affiliation start date    
        .datepicker
          = text_field(:affiliation, :start_date, placeholder: 'Click on Calendar')
      .aff_divider
        _
      .aff_end_period
        #aff_end_date
          %label
            %b
              Affiliation end date    
        .datepicker
          = text_field(:affiliation, :end_date, placeholder: 'Click on Calendar')
      %span#aff_work_status
        %b
          Present
    .aff_status
      %label
        %b
          Currently Work here:
      = check_box("affiliation", "status", {}, "yes", "no") 
      yes

  .aff_btn
    = f.button :submit, value:"Add affiliation to profile", class:"btn btn-large btn-primary"

:javascript
    $('.datepicker, .datetimepicker').append('<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>')

    $('.datetimepicker').datetimepicker({
      format: 'yyyy-MM-dd HH:mm:ss'
    });

    $('.datepicker').datetimepicker({
      format: 'yyyy-MM-dd',
      pickTime: false
    });    
