%p.aff_org_name{ :id => "current_company-#{@b.id}" }
  %a{href:"/organizations/"+"#{@b.organization.id}"}
    = @b.organization.name
  = link_to "×", affiliation_path(@b.id), :method => :delete, :remote => true,  :disable_with => "×", :class => 'affiliation-delete' , :id => "affiliation-delete-#{@b.id}"
