.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      = link_to 'My profile', current_user, class: 'btn'
  - if current_user.affiliations.any?
    .span10.min500
      %h1 My Affiliations
      .feedback_listing
        %table.table.table-bordered
          %tr
            %th Organization
            %th Role
            %th Start date
            %th End date
            %th Status

          - current_user.affiliations.each do |affiliation|
            %tr
              %td= affiliation.organization.name
              %td= affiliation.sub_category.name
              %td= affiliation.start_date
              - if affiliation.end_date.nil?
                %td
                  Present Working
              - else
                %td= affiliation.end_date
              - if affiliation.status == "no"
                %td Previous
              - else
                %td Current
              %td= link_to 'Show', affiliation.organization

        %br
  - else  
    .span10.min500
      %h1 Please add Affiliation    


