= render 'shared/follow_form' if signed_in?
= render 'shared/connect_form' if signed_in?
%p
  %b User:
  = @album.user.name
%p
  %b Name:
  = @album.name
%p
  %b Title:
  = @album.title
%p
  %b Description:
  = @album.description
%p
  %b Kind:
  = @album.kind
