.album_cont
  .album_main
    .album_header
      %h4= @album.name
      %h5= @album.title
    .album_body
      - album.uploads.each do |upload|
        .album_upload
          %h6=upload.name
          %h7=upload.title
          %p=upload.description
          .album_upload_file
            =image_tag upload.file_attachment.url  
    .album_footer
      /= rating_for @album, "rating"
  .album_sidebar
    .user_info
      = @album.kind.capitalize 
      by
      %br
      = link_to @album.user.name, @album.user
      %br
      = time_ago_in_words(@album.created_at) 
      ago
    .follow_form
      = render 'shared/follow_form' if signed_in?
    .connect_form
      = render 'shared/connect_form' if signed_in?
    .album_description
      .stats
        .stat
          = pluralize(@album.impressions_count, 'unique visior')
        .stat
          = pluralize(@likers.count, 'like')
        .stat
          = pluralize(@comments.count, 'comment')
      = @album.description
  
.comments
  = render :partial => 'comments/form', :locals => { comment: @new_comment }
  = render :partial => 'comments/comment', :collection => @comments, :as => :comment
