#content-container
  #project-main.left
    #project-header-main.work-header-main.work-header
      %h1
        = @album.name

      #creative-fields.secondary-text
        %a{href: "/portfolios/"+"#{@album.category.slug}", title: "#{@album.category.name}"}
          = @album.category.name

    = render 'shared/edit_delete_buttons', obj: @album
    %h2.album_detail_title
      = @album.title    
    - if signed_in? and current_user?(@user)
      .primary-project-content.project-styles
        - unless current_user.plan == 'trial' && current_user.videos.count>=3
          #video-form.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
              %h4.modal-title Add Video's:
            .modal-body
              = render 'videos/form', album: @album
            .modal-footer
              %button.btn.btn-default#close_portfolio_modal{"data-dismiss" => "modal", type: "button"} Close
          %a.demo{"data-toggle" => "modal",href: "#video-form"}
            %span.add_img_btn
              Add Video's        
        #album-form.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4.modal-title Add Images to #{@album.kind}
          .modal-body
            = render 'shared/multiupload_img', album_id: @album.id, album_name: @album.name
          .modal-footer
            %button#close.btn.btn-default{:data => "#{@album.id}", "data-dismiss" => "modal", type: "button"} Close
            /%button.btn.btn-primary{type: "button"} Save changes
        %a.demo{"data-toggle" => "modal",href: "#album-form", id: "add-img_renamed"}
          %span.add_img_btn
            Add/Remove Pictures
        %span.add_img_btn
          = link_to "Edit #{@album.kind}", edit_album_path(@album)
    %br      
    %ul#project-modules
      .album
        - album.multiuploads.each do |upload|
          .fleft
            %ul.gallery.clearfix


          %ul.gallery.clearfix
            %li
              %a{href: "#{upload.multiupload.url(:original)}", rel: "prettyPhoto[mixed]", title: "#{upload.multiupload_file_title}"}
                =image_tag upload.multiupload.url(:original), alt: upload.multiupload_file_name
          %ul#album-upload-content
            %li#album-upload-title 
              = upload.multiupload_file_title
            %li#album-upload-desc
              = upload.multiupload_file_desc
      .video_section
        - if @album.videos.any?
          - @album.videos.each do |video|
            %ul.video-gallery{ :id => "video_box-#{video.id}" }
              %li 
                .profile_edit_delete_portfolio_cont.align_right
                  %span.edit_portfolio_pencil_cont
                    = link_to edit_video_path(video) do
                      %img{alt: "", src: "/assets/edit.png"}/  
                  %span.delete_portfolio_cross_cont
                    = link_to video_path(video), :method => :delete, :remote => true,  :disable_with => "×", :class => 'video_box-delete' , :id => "video_box-delete-#{video.id}" do 
                      %img{alt: "", src: "/assets/cross.png"}/               
              
                - if ["video/mpeg", "video/x-msvideo", "video/3gpp"].include? video.file_attachment.content_type
                  %object{ data: "#{video.file_attachment.url}", width: "303", height: "230", autoplay: "false"}
                    %embed{ src: "#{video.file_attachment.url}", width: "303", height: "230"}
                - elsif ["video/mp4", "video/ogg", "video/webm", "video/x-flv"].include? video.file_attachment.content_type
                  %video{ width: "303", height:"230", poster:"", controls:"controls", preload:"none" }
                    %source{type:"#{video.file_attachment.content_type}", src:"#{video.file_attachment.url}"}
                    %object{width:"303", height:"230", type:"application/x-shockwave-flash", data:"#{video.file_attachment.url}"}
                      %embed{ src: "#{video.file_attachment.url}", width: "303", height: "230"} 
                %p
                  = video.name                 
    - if signed_in? and current_user?(@user) and album.multiuploads.any?
      .primary-project-content.project-styles
        %a.demo{"data-toggle" => "modal",href: "#album-form"}
          %span.add_img_btn
            Add/Remove Pictures
        %span.add_img_btn
          = link_to "Edit #{@album.kind}", edit_album_path(@album)
    .clear

    #project-comments.big-comments
      #comments-container{entity_id: "16086365", entity_type: "project"}
        #comments-header.comments-header
          .current_album_like_form
            .likes-album
              = render 'shared/like_form', object: @album
          .clear
          %br
          %br
          %h4.block-title
            %span.bold Discuss this #{@album.kind}:
            %span.comments-stats.hide{style: "display: inline;"}
              (
              %span.comments-total
                = @comments.count 
              = succeed ")" do
                %span.comments-total-text Comments
        
        - if signed_in?
          .port-by
            Welcome
            = link_to @album.user.name, @album.user 
        - else 
          - @albumcomment = @album.root_comments
          - if @albumcomment.nil?
            %p
              Plese log in            
          - else
            .post-comment-logged-out
              Please
              %a.link-login.fake-link{href: "/signup"} sign up 
              or 
              = link_to 'login', signin_path
              to discuss this #{@album.kind}.
        .comments
          = render :partial => 'comments/form', :locals => { comment: @new_comment, parent_id: nil }
          = render :partial => 'comments/comment', :collection => @comments, :as => :comment        

  #project-sidebar.right
    .sidebar-block.sidebar-owner
      .sidebar-label
        = @album.kind.capitalize
        by  
      .sidebar-content.cfix
        #owner-icon-info.cfix
          #owner-icon.user-img-50.left
            - if @album.user.headshot
              = image_tag @album.user.headshot.file_attachment.url(:thumb)
            -else
              =image_tag '/assets/missing.png' 
          #owner-info.left
            #owners.cfix
              #owner.text-ellipsis
                = link_to @album.user.name, @album.user
            - if signed_in? and !current_user?(@album.user)
              %br
              %button.send_message_button.btn.btn-primary.demo{"data-toggle" => "modal", "data"=> @album.user.id, "onclick"=>"javascript:open_chat_modal(#{@album.user.id})"}Send Message
            #owner-location-container
              /%a.location-link.text-ellipsis.beicons-pre.beicons-pre-location Brooklyn, NY, USA
        #owner-buttons-container.clear
          .follow-btn
            - if signed_in? 
              = render 'shared/follow_form'
            /- else
            /  %a.fake-link{href: "/signup"}
            /    = button_tag "Follow", id: "dummy-follow-buttom", type:"button"
          /.form-button.form-button-large.form-button-light-and-blue.add-to-collection.hide-phone
          /  %span.project-icon-left.project-icon-left-save
          /    %span.hide-tablet> Add to
          /    Collection
          .connect-btn
            - if signed_in? 
              = render 'shared/connect_form'
            /- else
            /  %a.fake-link{href: "/signup"}
            /    = button_tag "Connect", id: "dummy-follow-buttom", type:"button"
          .clear
          %br


    .sidebar-block.sidebar-actions
      /%a.sidebar-action.send-message
      /  %span.project-icon-left.project-icon-left-mail.project-icon-right.project-icon-right-arrow Message Creative
      /.sidebar-action.tooltipi-container
      /  %span.project-icon-left.project-icon-left-share.project-icon-right.project-icon-right-arrow Share Project

    .sidebar-block
      .sidebar-label 
        About 
        = @album.kind.capitalize 
      .sidebar-content
        .project-description
          .variable-text.variable-text-short
            = @album.description
            /%span.variable-text-link.fake-link Read More
          .project-published.tiny-text
            Published: 
            = time_ago_in_words(@album.created_at)  
        %ul#project-stats.object-stats
          %li.project-stat.project-stat-views.beicons-pre.beicons-pre-eye
            %span
              %img{alt: "", height: "11", src: "/assets/heart_img.png", width: "12"}/
            %span 
              Views
            %span.stat-value 
              = @album.impressions_count
          %li.project-stat.project-stat-views.beicons-pre.beicons-pre-eye
            %span
              %img{alt: "", height: "11", src: "/assets/heart_img.png", width: "12"}/
            %span
              Likes
            %span.stat-value 
              = @likers.count
          %li.project-stat.project-stat-views.beicons-pre.beicons-pre-eye
            %span
              %img{alt: "", height: "11", src: "/assets/feed_icon1.png", width: "13"}/
            %span
              Comments
            %span.stat-value
              = @comments.count

    .sidebar-block.sidebar-meta
      .sidebar-content.cfix
        #copyright-info.tooltipi-container
          /%span.copyright-info.pointer.sidebar-meta-item.pre-icon.pre-icon-copyright ©Project Copyright Info
          /%span.fake-link.sidebar-meta-item.pre-icon.pre-icon-report.flag-spam.flag-spam-project.js-report.project-report{spam_id: "16086365"} Geniya
