.wrapper
  %h1 Listing companies

  %table
    %tr
      %th Name
      %th Title
      %th Startmonth
      %th Startyear
      %th Endmonth
      %th Endyear
      %th Status
      %th Description
      %th Companylink
      %th
      %th
      %th

    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.title
        %td= company.startmonth
        %td= company.startyear
        %td= company.endmonth
        %td= company.endyear
        %td= company.status
        %td= company.description
        %td= company.companylink
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Company', new_company_path
