.wrapper
  %p#notice= notice

  %p
    %b Name:
    = @company.name
  %p
    %b Title:
    = @company.title
  %p
    %b Startmonth:
    = @company.startmonth
  %p
    %b Startyear:
    = @company.startyear
  %p
    %b Endmonth:
    = @company.endmonth
  %p
    %b Endyear:
    = @company.endyear
  %p
    %b Status:
    = @company.status
  %p
    %b Description:
    = @company.description
  %p
    %b Companylink:
    = @company.companylink

  = link_to 'Edit', edit_company_path(@company)
  \|
  = link_to 'Back', companies_path
