.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      = link_to 'My profile', current_user, class: 'btn'
  .span10.min500
    %h1 Listing tags
    .feedback_listing
      %table.table.table-bordered
        %tr
          %th Tag name
          %th Operation

        - @tags.each do |tag|
          %tr
            %td= tag.name
            %td= link_to 'Show', tag
            - if current_user.plan== "admin"
              %td= link_to 'Edit', edit_tag_path(tag)
              %td= link_to 'Destroy', tag, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %br
      = will_paginate   

