.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      = link_to 'All Categories', categories_path, class: 'btn'
  .span10.min500
    %h1 Listing Sub Categories
    .feedback_listing
      %table.table.table-bordered
        %tr
          %th Name
          %th Category
          - if signed_in?
            - if current_user.plan == "admin"          
              %th Operations

        - @sub_categories.each do |sub_category|
          %tr
            %td
              = link_to sub_category do
                = sub_category.name
            %td= sub_category.category.name
            - if signed_in?
              - if current_user.plan == "admin"
                %td= link_to 'Edit', edit_sub_category_path(sub_category)
                %td= link_to 'Destroy', sub_category, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %br
      = will_paginate    

