.wrapper
  .news_feeds
      
.wrapper
  .row-fluid.spaced-top
    .span2.spaced-left
      .btn-group.btn-group-vertical.btn-block
        = link_to 'All professions', sub_categories_path, class: 'btn'
        - if signed_in?
          = link_to 'My profile', current_user, class: 'btn'
.detail_form_container
  %h3
    = @sub_category.name.capitalize
  %h4
    = @sub_category.category.name.capitalize
  .span7.spaced-right
    - @users.each do |user|
      - @user = user
      = render 'users/orgzuser', user: user
    = will_paginate @users 
