.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      - if signed_in? and current_user?(@feedback.user)
        = link_to 'Edit', edit_feedback_path(@feedback), class: 'btn btn-success'
        = link_to 'My Profile', current_user, class: 'btn'
  .detail_form_container
    .span12.spaced-right
      .min500
        /%p
        /  %b Parent:
        /  = @feedback.parent_id
        /%p
        /  %b User:
        /  = @feedback.user_id
        /%p
        /  %b Email:
        /  = @feedback.email
        #feedback_user_detail
          - if @feedback.user.nil?
            #feedback_user_picture
              = image_tag '/assets/missing.png', width: "135px", height: "135px"
            #feedback_user_name
              %h3
                Guest User   
          - else
            = link_to @feedback.user do
              - if @feedback.user.headshot
                #feedback_user_picture
                  = image_tag @feedback.user.headshot.file_attachment.url(:medium)
                #feedback_user_name
                  %h3
                    = @feedback.user.name              
              - else
                #feedback_user_picture
                  = image_tag '/assets/missing.png', width: "135px", height: "135px"
                #feedback_user_name
                  %h3
                    = @feedback.user.name                       
         
        %h5
          = @feedback.kind.capitalize
        %h2
          = @feedback.subject
        %p
          = @feedback.description
        %p
          %b Priority:
          = @feedback.priority
        %p
          %b 
            Status:
          %span#feedback_status
            = @feedback.status
        #feedback_replies_section
        %ul#feedbacks_answer
          - if @feedback.feedback_replies.any?
            - @feedback.feedback_replies.each do |feedback|
              = render 'feedback_replies', feedback: feedback
        
        - if signed_in?
          - if current_user?(@feedback.user) or current_user.plan == 'admin'
            #feedback_reply_form
              = simple_form_for(FeedbackReply.new, remote: true) do |f|
                = f.hidden_field :parent_id, value: @feedback.id
                = f.hidden_field :feedback_id, value: @feedback.id
                = text_area_tag 'feedback_reply[message]'
                %br
                #loading_img_for_feedback
                  %img{src: "/assets/loader.gif", alt: "loading"}/               
                
                %br
                = f.button :submit, value: "Reply Feedback", class: 'btn btn-primary' 
     
       
        
           

