.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      - if signed_in? and current_user?(@feedback.user)
        = link_to 'Edit', edit_feedback_path(@feedback), class: 'btn btn-success'
        = link_to 'My Profile', current_user, class: 'btn'
  .span7.spaced-right
    .min500
      /%p
      /  %b Parent:
      /  = @feedback.parent_id
      /%p
      /  %b User:
      /  = @feedback.user_id
      /%p
      /  %b Email:
      /  = @feedback.email
      %p#feedback_user_img
        - if signed_in?
          - if @feedback.user.nil?
            = image_tag '/assets/missing.png', width: "135px", height: "135px"
            %br
            %h3
              Guest User   
          - else
            - if @feedback.user.headshot
              = image_tag @feedback.user.headshot.file_attachment.url(:medium)
              %br
              %h3
                = @feedback.user.name              
            - else
              = image_tag '/assets/missing.png', width: "135px", height: "135px"
              %br
              %h3
                = @feedback.user.name                       
        - else
          = image_tag '/assets/missing.png', width: "135px", height: "135px"
          %br
          %h3
            Guest User          
      %h5
        = @feedback.kind.capitalize
      %h2
        = @feedback.subject
      %p
        = @feedback.description
      %p
        %b Priority:
        = @feedback.priority
      %p
        %b Status:
        = @feedback.status
      #feedback_reply_form
        = simple_form_for Feedback.new do |f|
          = f.hidden_field :parent_id, value: @feedback.id
          = f.hidden_field :subject, value: "reply of feedback"
          = text_area_tag 'feedback[description]'
          %br
          = f.button :submit, value: "Reply feedback", class: 'btn btn-primary'      

