.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      = link_to 'My profile', current_user, class: 'btn'
  .span10.min500
    %h1 Listing cities
    .feedback_listing
      %table.table.table-bordered
        %tr
          %th State
          %th Name
          %th Operations

        - @cities.each do |city|
          %tr
            %td= city.state.name
            %td= city.name
            %td= link_to 'Show', city
            - if current_user.plan== "admin"
              %td= link_to 'Edit', edit_city_path(city)
              %td= link_to 'Destroy', city, :method => :delete, :data => { :confirm => 'Are you sure?' }

        %br
        
