= simple_form_for(@organization) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = collection_select(:organization, :cateogry_id, Category.all, :id, :name)
    = f.input :start_date
    = f.input :address_id
    = f.input :user_id

  .form-actions
    = f.button :submit
