= simple_form_for(@organization) do |f|
  /= f.error_notification
  = render 'shared/error_messages', object: f.object
  .form-inputs
    #org_name
      %label
        %b
          *Organization Name
    = f.input :name
    #org_name
      %label
        %b
          *Area of Work
    = collection_select(:organization, :category_id, Category.all, :id, :name)
    #aff_start_date
      %label
        %b
          *Organization Start Date  
    .field.datepicker
      = text_field(:organization, :start_date)    

  .orgn_btn
    = f.button :submit,  class: "btn btn-large btn-primary"
  #loading_img_for_organization
    %img{src: "/assets/loader.gif", alt: "loading"}/   

  .clear
  %br
