.row-fluid.spaced-top
  .span2.spaced-left
    .btn-group.btn-group-vertical.btn-block
      - if signed_in? and current_user == @organization.user
        = link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-success'
      - if signed_in? and current_user?(@organization.user)
        = link_to 'Destroy', @organization, :method => :delete, :data => { :confirm => 'Are you sure to delete organization?' }, class: 'btn btn-success'      
      = link_to 'View Organizations', organizations_url, class: 'btn'
      = link_to 'My Profile', current_user, class: 'btn'
  .span7.spaced-right
    %h1 Organization
    %p  
      %h3 
        = @organization.name
    %p
      %h4
        = @organization.category.name
    - @users.each do |user|
      - @user = user
      = render 'users/orgzuser', user: user
    = will_paginate @users 
