%h1 Listing Categories

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @categories.each do |category|
    - subcategory_names = category.sub_categories.map{ |sub_category| sub_category.name }
    - alert_msg = ["The following Subcategories will also get deleted?"]
    - full_alert_msg = alert_msg | subcategory_names
    %tr
      %td= link_to category.name, category
      %td= link_to 'Show', category
      %td= link_to 'Edit', edit_category_path(category)
      - if  subcategory_names == []
        %td= link_to 'Destroy', category, :method => :delete,:data => { :confirm => 'Are you sure Want to Delete the Category?'}
      - else
        %td= link_to 'Destroy', category, :method => :delete,:data => { :confirm => full_alert_msg.join("\n")}
%br
= link_to 'New Category', new_category_path
