%p#notice= notice
.stats
  .stat
    = pluralize(@upload.impressions_count, 'unique visior')
%p
  %b Portfolio:
  = @upload.album_id
%p
  %b Name:
  = @upload.name
%p
  %b Title:
  = @upload.title
%p
  %b Description:
  = @upload.description
%p
  %b File attachment:
  /
    =video_tag @upload.file_attachment.url
    =image_tag @upload.file_attachment.url(:medium)
    =image_tag @upload.file_attachment.url(:thumb)
  - if ["video/mp4", "video/mpeg"].include? @upload.file_attachment.content_type
    %object{ data: "#{@upload.file_attachment.url}", width: "320", height: "240", autoplay: "false"}
      %embed{ src: "#{@upload.file_attachment.url}", width: "320", height: "240"}
  - elsif ["video/ogg", "video/webm"].include? @upload.file_attachment.content_type
    %video{:width => 320, :height => 240, :controls => true}
      %source{:src => "#{@upload.file_attachment.url}", :type => "#{@upload.file_attachment.content_type}"}

%video{ width: "320", height:"240", poster:"poster.jpg", controls:"controls", preload:"none" }
  %source{type:"#{@upload.file_attachment.content_type}", src:"#{@upload.file_attachment.url}"}
  %object{width:"320", height:"240", type:"application/x-shockwave-flash", data:"#{@upload.file_attachment.url}"}
    %embed{ src: "#{@upload.file_attachment.url}", width: "320", height: "240"}
%p
  %b File type:
  = @upload.file_attachment.content_type
%p
  %b Extension:
  = @upload.extension

= link_to 'Edit', edit_upload_path(@upload)
\|
= link_to 'Back', uploads_path
