%p#notice= notice

%p
  %b Institute:
  = @education.institute_name
%p
  %b Course:
  = @education.course_name
%p
  %b Start:
  = @education.start_date
%p
  %b End:
  = @education.end_date

= link_to 'Edit', edit_education_path(@education)
\|
= link_to 'Back', educations_path
