%footer
  .wrapper
    .wrapper-footer-content
      ©2000 - 2013 Geniya. All Rights Reserved.
      %ul.footer_social
        %li
          %a{href: "https://www.youtube.com/channel/UCaAogg8feczTPSpvcd-T6dg", target: "_blank"}
            %img{alt: "", src: "/assets/you_tube.png"}/
        %li
          %a{href: "https://www.facebook.com/GeniyaNetwork", target: "_blank"}
            %img{alt: "", src: "/assets/fb.png"}/
        %li
          %a{href: "https://twitter.com/GeniyaNetwork", target: "_blank"}
            %img{alt: "", src: "/assets/twitter.png"}/

      #feedback_modal.modal.fade{"data-width" => "", style: "display: none;", tabindex: "-1"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title Feedback or Support request
        .modal-body#profile_cover_upload_modal_body
          = simple_form_for Feedback.new do |f|
            - if signed_in?
              = f.hidden_field :email, value: current_user.email
            - else
              = f.input :email
            = f.label :kind
            = f.select(:kind, options_for_select([['Appreciation', 'appreciation'], ['Bug report', 'bug report'], ['Question', 'question']], :selected=> 'bug report'))
            = f.input :subject
            = f.input :description
            = f.hidden_field :status, value: 'unanswered'
            = f.label :priority
            = f.select(:priority, options_for_select([['High', 'high'], ['Medium', 'medium'], ['Low', 'low']], :selected=> '2'))
            %br
            = f.button :submit, class: 'btn btn-primary'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
      %a{"data-toggle" => "modal",href: "#feedback_modal", id: "feedback_trigger"}
        Feedback or Support
    .clear
