%header
  #header_wrapper.wrapper_c
    %ul.login_nav
      - if signed_in?
        %li= link_to "Profile", current_user
        %li.login
          = link_to "Logout", signout_path, method: "delete"
      - else
        %li= link_to "Register", signup_path
        %li.login
          = link_to "Login", signin_path
    %a.logo
      %img{alt: "Logo", src: "/assets/logo.png"}/
    %nav#man_nav
      %ul
        %li= link_to 'Home', root_path
        - @categories.each_with_index do |category, i|
          - midsection_class = (i == 2) ? 'midsection' : ''
          %li= link_to category.name.sub(' ', '/'), '/portfolios/' + category.slug, class: midsection_class
      .clear
  .clear
