%header
  #header_wrapper.wrapper_c
    %ul.login_nav
      - if signed_in?
        %a{href:"/users/"+"#{current_user.slug}"}
          %li.spacial 
            %span
              - if current_user.headshot
                =image_tag current_user.headshot.file_attachment.url(:thumb)
              - else
                =image_tag '/assets/missing.png', width: "50px", height: "50px"
            %span 
              = current_user.username
        %li
          |
        %li= link_to 'Home', root_path
        %li
          |
        %li#fat-menu.dropdown
          %a#header_response_notifications_trigger.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = current_user.responses.where(status: 0).count
            %b.caret
          %ul.dropdown-menu#header_response_notifications
        %li#network-notice-menu.dropdown
          %a#network_response_notifications_trigger.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = current_user.connections.where(status: 'requested').count
            %b.caret
          %ul.dropdown-menu#network_response_notifications
        %li#message-notice-menu.dropdown
          = render 'shared/send_message_form'
          %a#message_response_notifications_trigger.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = Chat.where(reciever_id: current_user.id, status: 'unread').count
            %b.caret
          %ul.dropdown-menu#message_response_notifications

        /%li#fat-menu.dropdown
        /  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        /    My Account
        /    %b.caret
        /  %ul.dropdown-menu
        /    %li= link_to "Profile", current_user
        /    %li= link_to "View Album", "/albums/default-album-"+"#{current_user.slug}"
        /    %li= link_to "Post a Job", '/advertisements/new'
        /    %li= link_to "Create an Ad", '/advertisements/new'
        /    - if (current_user.username == 'geniya')
        /      %li= link_to "Dashboard", '/admin'

        %li.login
          = link_to "Logout", signout_path, method: "delete"
      - else
        %li= link_to 'Home', root_path
        %li 
          |
        %li= link_to "Register", signup_path
        %li.login
          = link_to "Login", signin_path
    - if signed_in?
      #srch_people_container
        %input{name: 'q', placeholder: "Search People, Bussiness Here", type: "text", id: "srch_profile",autocomplete: "off", onkeypress: ""}
    %a.logo{href: "/"}
      %img{alt: "Logo", src: "/assets/logo.png"}/
    %nav#man_nav
      - page_id = params[:id]
      %ul
        - @categories.each_with_index do |category, i|
          - if (page_id == category.slug)
            - midsection_class = (i == 2) ? 'midsection' : ''
            %li.active= link_to category.name.sub(' ', '/'), '/portfolios/' + category.slug, class: midsection_class
          - else
            - midsection_class = (i == 2) ? 'midsection' : ''
            %li= link_to category.name.sub(' ', '/'), '/portfolios/' + category.slug, class: midsection_class           
      .clear
  .clear
  
