%header
  - if signed_in?
    #header_wrapper.wrapper_c
      %ul.login_nav
        %a{href:"/users/"+"#{current_user.slug}"}
          %li.spacial 
            %span
              - if current_user.headshot
                =image_tag current_user.headshot.file_attachment.url(:thumb)
              - else
                =image_tag '/assets/missing.png', width: "50px", height: "50px"
            %span 
              = current_user.username.capitalize
        %li
          |
        %li= link_to 'Home', root_path
        %li
          |
         
        - if current_user.kind == 'user'
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              More
              %b.caret
            %ul.dropdown-menu
              - if current_user.plan == 'trial'
                %li#upgrade_plan= link_to 'Upgrade', new_payment_subscription_path                 
              - if current_user.feature_img == 'true' and current_user.kind == "user"
                %li= link_to 'Add Feature Image', new_featureimg_path
                /#addfeatureimg.modal.fade{"data-width" => "760", style: "display: none;", tabindex: "-1"}
                /  .modal-header
                /    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                /    %h4.modal-title Add Feature Image
                /  .modal-body#profile_cover_upload_modal_body
                /    = form_for Featureimg.new,  :html => { :multipart => true, id: :feature_img_form} do |f|
                /      = f.hidden_field :user_id, value: current_user.id    
                /      .field
                /        = f.file_field :feature_img, id: "user_feature_img"  
                /      .actions
                /        = f.submit 'Add Feature Image', id: "user_featureimg_btn", class: "btn"
                /      %img{alt: "loading", src: "/assets/loader.gif", style: "visibility: hidden"}/
                /      #loading_img_for_feature_img
                /        %img{src: "/assets/loader.gif", alt: "loading"}/               
                /  .modal-footer
                /    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                /%a.demo{"data-toggle" => "modal",href: "#addfeatureimg", id: "#addfeatureimg"}
                /  Add Feature Image             
              %li= link_to 'Invite Email Contacts', "/contacts/gmail" 
              %li= link_to 'Edit Profile', "/users/"+current_user.slug+"/profile_edit" 
                 
              - if current_user.plan != 'visitor'
                %li#divider= link_to 'Create Organization', new_organization_path 
              - if current_user.plan == 'deluxe' or current_user.plan == 'admin'
                %li= link_to 'Post Job', new_job_path
              - if current_user.plan == 'deluxe' or current_user.plan == 'admin'
                - if current_user.jobs.any?
                  %li= link_to 'My Posted Jobs', jobs_path

              - if current_user.plan == 'deluxe' or current_user.plan == 'admin' or current_user.plan == 'trial'
                %li#divider= link_to 'Create Advertisement', new_advertisement_path          
                - if current_user.advertisements.any?
                  %li= link_to 'My Advertisements', advertisements_path
              
              - if current_user.plan != 'visitor' && current_user.plan != 'trial'
                %li#divider= link_to 'Create Business Page', "/business"

              - user_bussiness_page = User.where(parent_id: current_user.id)
              - if (user_bussiness_page==[])
              - else
                - user_bussiness_page.each do |user_buss_detail|
                  - if signed_in?
                    %li
                      = link_to ("/users/"+user_buss_detail.slug+"/change_login") do
                        #bussines_control_user_img
                          - if user_buss_detail.headshot
                            = image_tag user_buss_detail.headshot.file_attachment.url(:medium)
                          - else
                            - if user_buss_detail.kind == 'user'
                              = image_tag '/assets/missing.png', width: "50px", height: "50px"
                            - else
                              = image_tag '/assets/company_logo.png', width: "50px", height: "50px" 
                        #bussines_control_user_detail
                          = user_buss_detail.name             

              - if current_user.parent_id != 0
                - main_user = User.find(current_user.parent_id)
                %li   
                  = link_to ("/users/#{main_user.slug}/change_login") do
                    #bussines_control_user_img
                      - if main_user.headshot
                        = image_tag main_user.headshot.file_attachment.url(:medium)
                      - else
                        = image_tag '/assets/missing.png', width: "50px", height: "50px"
                    #bussines_control_user_detail
                      = main_user.name

              - if current_user.plan == 'deluxe' or current_user.plan == 'admin' or current_user.plan == 'trial'
                - if current_user.feedbacks.any?
                  %li#divider= link_to 'My feedbacks', feedbacks_path


              - if (current_user.plan == 'admin')
                %li#divider= link_to "Dashboard", '/admin'

          
        %li#network-notice-menu.dropdown
          %a#network_response_notifications_trigger.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            %img{alt: "friends", src: "/assets/friends.png", class:"notification_image"}/
            - if (current_user.connections.where(status: 'requested').count == 0)
            - else
              %span#notification_count
                = current_user.connections.where(status: 'requested').count
            /%b.caret
          %ul.dropdown-menu#network_response_notifications
        %li#fat-menu.dropdown
          %a#header_response_notifications_trigger.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            %img{alt: "notices", src: "/assets/notification.png", class:"notification_image"}/
            - if (current_user.responses.where(status: 0).count == 0)
            - else
              %span#notification_count
                = current_user.responses.where(status: 0).count
            /%b.caret
          %ul.dropdown-menu#header_response_notifications
        %li#message-notice-menu.dropdown
          = render 'shared/send_message_form'
          %a#message_response_notifications_trigger.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            %img{alt: "notices", src: "/assets/massege.png", class:"notification_image"}/
            - count_of_unread_conversations = Message.where(recipient_id: current_user.id, status: 'unread').distinct.count(:conversation_id)
            - unless count_of_unread_conversations == 0
              %span#notification_count
                = count_of_unread_conversations
          %ul.dropdown-menu#message_response_notifications


        %li.login
          = link_to "Logout", signout_path, method: "delete"
  - else
    .wrapper
      %a.logo{:href => ""}
        %img{:alt => "", :src => "/assets/new_logo.png"}/
      .search
        %span.glass
        /%input{:placeholder => "Search", :type => "text"}/
        %input{name: 'q', placeholder: "Search People, Business Here", type: "text", id: "srch_profile",autocomplete: "off", onkeypress: ""}
        %input{name: 'q', placeholder: "Search Jobs, Advertisements Here", type: "text", id: "srch_job",autocomplete: "off", onkeypress: ""}                  
        %a.dropdownbutton{:type => "button", :href => "javascript:void(0)"}
        %ul.search_option
          %li#job_ads_srch{:value => "Search Jobs, Advertisements Here"}
            Search Jobs, Advertisements Here
        .clear
        
      / BEGIN HEADER RIGHT
      .heder_right
        #navigation.dropdown_menu
          %a.menu_btn{:href => "javascript:void(0)"}
          %ul.main_menu
            - @cat = @categories.limit(7).order(order: :asc)
            - @cat.each do |category|            
              %li.active= link_to category.name.sub(' ', '/'), '/portfolios/' + category.slug

        %navs
          %ul
            %li= link_to 'Home', root_path
            %li= link_to "Register", signup_path
            %li
              #login.modal.fade{"data-width" => "530", style: "display: none;", tabindex: "-1"}
                .modal-body
                  = render 'shared/login_form' 
              %a.demo{"data-toggle" => "modal",href: "#login"}
                Login
      / END HEADER RIGHT
      .clear      
  
    /%li= link_to 'Home', root_path
    /%li 
    /  |
    /%li= link_to "Register", signup_path
    /%li 
    /  |
    /%li
    /  #login.modal.fade{"data-width" => "530", style: "display: none;", tabindex: "-1"}
    /    .modal-body
    /      = render 'shared/login_form' 
    /  %a.demo{"data-toggle" => "modal",href: "#login"}
    /    Login
    /  = link_to "Login", signin_path
/#srch_people_container
/  %input{name: 'q', placeholder: "Search People, Business Here", type: "text", id: "srch_profile",autocomplete: "off", onkeypress: ""}
/  %input{name: 'q', placeholder: "Search Jobs, Advertisements Here", type: "text", id: "srch_job",autocomplete: "off", onkeypress: ""}  
/  #atwho-ground-srch_job    
/    %ul.atwho-view-ul
/  %span#srch_divider
/    or
/  %input{type: "button", id: "job-srch-button", class: "btn btn-primary", value:"Jobs/Advertisements"}        

/%a.logo{href: "/"}
/  %img{alt: "Logo", src: "/assets/logo.png", id: "geniya_logo"}/
/%a.mobile_menu_btn
/  Navigation
/  %img{src: "/assets/menu_btn.png"}/
/%nav#man_nav
/  - page_id = params[:id]
/  %ul
/    - @cat = @categories.limit(7).order(order: :asc)
/    - @cat.each_with_index do |category, i|
/      - if (page_id == category.slug)
/        - midsection_class = (i == 2) ? 'midsection' : ''
/        %li.active= link_to category.name.sub(' ', '/'), '/portfolios/' + category.slug, class: midsection_class
/      - else
/        - midsection_class = (i == 2) ? 'midsection' : ''
/        %li= link_to category.name.sub(' ', '/'), '/portfolios/' + category.slug, class: midsection_class           
/  .clear

  
